.back-to-top {
	$duration: 0.5s;

	display: none;

	width: 100%;
	max-width: #{$max-width + $gutter * 2};

	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	opacity: 0;

	animation-name: fadeInAndMount;
	animation-duration: $duration;
	animation-direction: reverse;

	.below-fold & {
		display: block;

		opacity: 1;

		animation-direction: normal;
	}

	@keyframes fadeInAndMount {
		from {
			display: none;

			opacity: 0;
		}

		1% {
			display: block;

			opacity: 0;
		}

		to {
			display: block;

			opacity: 1;
		}
	}
}

.back-to-top__link {
	position: fixed;
	top: 75vh;
	right: $gutter;

	display: block;
	z-index: layer('default');

	overflow: visible;

	text-align: right;

	@media screen and (min-width: $max-width / 1rem * 1em ) {
		top: 50vh;
		right: calc(50vw - #{$max-width / 2} + #{$gutter});
	}
}

.back-to-top__image {
	display: inline-block;

	margin-right: 10px;

	border-radius: 100%;

	box-shadow: 2px 2px 8px 0 palette('shadow');
}
