.back-to-top,
.back-to-top__link {
	display: block;
}

.back-to-top {
	width: 100%;
	max-width: #{$max-width + $gutter * 2};

	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	background-color: palette('white');
}


.back-to-top__link {
	overflow: visible;

	text-align: right;

	@media screen and (min-width: $max-width / 1rem * 1em ) {
		position: fixed;
		top: 50vh;
		right: calc((50vw - #{$max-width / 2}) / 2);

		z-index: layer('default');
	}
}

.back-to-top__image {
	display: inline-block;

	margin-right: 10px;

	border-radius: 100%;

	box-shadow: 2px 2px 8px 0 palette('shadow');
}
