.bookmark-as-figure {
	@include clearfix;

	position: relative;

	padding: $gutter * 0.5;
	margin-right: 0;
	margin-left: 0;

	text-align: center;

	background-color: palette('white');

	border-radius: 10px;

	box-shadow: 2px 2px 8px 0 palette('shadow');

	@media screen and (min-width: breakpoint('tablet')) {
		float: right;

		width: calc(50% - #{$gutter * 0.5});

		margin-top: 0;
		margin-right: 0;
		margin-left: $gutter;

		text-align: right;

		article:nth-of-type(2n) & {
			float: left;

			margin-right: $gutter;
			margin-left: 0;

			text-align: left;
		}
	}

	@media screen and (min-width: breakpoint('wide')) {
		width: calc(50% - #{$gutter * 0.5});
	}
}

.bookmark-as-figure__image {
	display: block;

	width: auto;

	margin-right: auto;
	margin-bottom: $gutter;
	margin-left: auto;

	object-fit: cover;

	@media screen and (min-width: breakpoint('tablet')) {
		float: left;

		max-width: calc(50% - #{$gutter * 0.5});
		min-width: 173px;
		min-height: 153px;

		margin-right: $gutter * 0.5;
		margin-left: 0;

		article:nth-of-type(2n) & {
			float: right;

			margin-right: 0;
			margin-left: $gutter * 0.5;
		}
	}
}

.bookmark-as-figure__title {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: $gutter;
	margin-left: auto;

	font-size: ms(2);
	font-family: $title-font-stack;

	color: palette('purple');
}

.bookmark-as-figure__caption {
	position: absolute;
	top: $gutter * -1;
	right: 0;
	left: auto;

	font-size: ms(-2);

	color: palette('purple');

	article:nth-of-type(even) & {
		right: auto;
		left: 0;
	}
}

.bookmark-as-figure__excerpt {
	clear: both;

	margin-top: $gutter;
	margin-right: auto;
	margin-bottom: $gutter;
	margin-left: auto;

	font-size: ms(-1);

	color: inherit;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-right: 0;
		margin-left: auto;

		article:nth-of-type(2n) & {
			margin-right: auto;
			margin-left: 0;
		}
	}
}

.bookmark-as-figure__button-wrapper {
	max-width: none;
}

.bookmark-as-figure__button {
	display: flex;

	align-items: center;

	width: max-content;
	height: 2.5rem; // 40px

	padding-top: ($line-height / 4 * 1em);
	padding-right: ($line-height * 1em);
	padding-bottom: ($line-height / 4 * 1em);
	padding-left: ($line-height * 1em);
	margin-top: $gutter;
	margin-right: auto;
	margin-left: auto;

	overflow: hidden;

	font-weight: 900;
	line-height: $line-height;

	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;

	color: palette('white');

	background-color: palette('orange');

	border: 0;
	border-radius: ($line-height * 1em);

	box-shadow: 0 4px 0 0 palette('orange', 'dark');

	&:link,
	&:visited {
		text-decoration: none;

		color: palette('white');
	}

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('blue', 'dark');

		box-shadow: 0 4px 0 0 palette('blue', 'x-dark');
	}
}
