

%content-info h6 {
	margin: 0;

	@media screen and (min-width: breakpoint('tablet')) {
		font-size: ms(-2);
	}
}


%content-info ul,
%content-info li {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

%content-info ul {
	@include clearfix;
}

%content-info li {
	float: left;

	width: 50%;
	max-width: 140px;
	min-width: 80px;

	padding-top: $gutter / 2;
	padding-bottom: $gutter / 2;
	margin-right: auto;
	margin-left: auto;

	background-position: 50% 50%;
}

%content-info a {
	display: block;

	height: 100%;
}

%content-info img {
	width: auto;
	max-height: 47px;
}
