.cc-btn.cc-deny {
	margin-bottom: 0;
}

.cc-message .cc-link {
	padding: 0;

	background-color: transparent;

	border: 0;

	-webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
	   -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes indentation
	        appearance: normal; //sass-lint:disable-line indentation
}

.cc-theme-classic .cc-btn {
	border-radius: 999em;
}

.cc-revoke {
	&:hover {
		text-decoration: inherit;
	}
}

.cc-window .cc-compliance {
	flex-wrap: wrap;
}
