$duration: 0.5s;

.fancy-form {
	position: relative;

	z-index: layer('default');

	max-width: none;

	@media screen and (min-width: breakpoint('desktop')) {
	}

	@media screen and (min-width: breakpoint('wide')) {
		background-size: auto;

		&::before,
		&::after {
			content: none;
		}
	}
}

.fancy-form > fieldset {
	max-width: 33.75rem;
	min-height: 2.5rem; // 40px

	padding-top: $line-height * 1rem;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	box-sizing: content-box;

	@media screen and (min-width: breakpoint('phablet')) {
		// padding-top: 15%;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		// padding-top: 15rem;
	}
}

.fancy-form legend {
	@include visually-hidden;
}

.fancy-form :placeholder-shown + label {
	bottom: 2.5rem; // 40px

	transform: translateY(50%);
}

.fancy-form label,
.fancy-form :hover + label,
.fancy-form :focus + label,
.fancy-form label:hover {
	position: absolute;
	top: -1.25rem;
	right: 0;
	left: 0;

	height: 2.5rem; // 40px

	overflow: hidden;

	font-weight: 900;
	font-size: ms(-1);
	line-height: 2.5rem; // 40px

	text-overflow: ellipsis;
	white-space: nowrap;

	transform: translateY(-50%);

	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

	&::before {
		float: left;

		content: '@';
	}
}

.fancy-button,
.fancy-form__button,
.fancy-form input,
.fancy-form select,
.fancy-form button {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 2.5rem; // 40px

	padding-top: ($line-height / 4 * 1em);
	padding-right: ($line-height / 4 * 1em);
	padding-bottom: ($line-height / 4 * 1em);
	padding-left: ($line-height / 4 * 1em);

	line-height: $line-height;

	background-color: transparent;

	border: 0;
	border-radius: ($line-height * 1em);

	box-sizing: border-box;

	will-change: background-color box-shadow color;
	transition-duration: $duration;
	transition-property: background-color box-shadow color;
	transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

	appearance: none;
}

.fancy-form button {
	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');
	}
}

.fancy-form__search-fields {
	@include clearfix;

	height: 100%;

	margin-bottom: $line-height * 1em;

	line-height: $line-height;

	background-color: palette('gray', 'x-light');

	border-radius: $border-radius;

	box-shadow: 0 4px 0 0 palette('gray', 'base');

	&:hover,
	&:focus {
		box-shadow: 0 4px 0 0 palette('blue', 'dark');
	}

	@media screen and (min-width: breakpoint('phablet')) {
		float: left;

		width: 70%;

		margin-right: 2%;
	}
}

.fancy-form__search-fields p {
	position: relative;

	float: left;

	height: 100%;

	margin: 0;
}

.fancy-button,
.fancy-form__button,
.fancy-form button {
	padding-top: 0;
	padding-right: ($line-height * 1em);
	padding-bottom: 0;
	padding-left: ($line-height * 1em);

	overflow: hidden;

	font-weight: 900;

	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;

	box-sizing: content-box;

	&::after {
		max-width: 0;

		overflow: hidden;

		transition-duration: $duration;
		transition-property: max-width;
	}

	&[disabled],
	&[disabled]:disabled {
		box-shadow: 0 4px 0 0 palette('gray');
	}

	&[disabled],
	&[disabled]:hover *,
	&[disabled] * {
		color: palette('gray', 'dark');

		background-color: palette('gray', 'x-light');

		border: 1px solid palette('gray');

		&:disabled,
		&:disabled:hover {
			background-color: palette('gray', 'x-light');
		}
	}

	&[aria-busy='true'] {
		text-overflow: clip;

		&::after {
			position: static;

			display: inline-block;

			max-width: 100%;
			min-width: 1.25em;

			text-align: right;

			color: palette('label', 'warning');

			background: none;

			content: ' …';

			animation-name: flash;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-fill-mode: both;

			@at-root {
				@keyframes flash {
					from,
					50%,
					to {
						opacity: 1;
					}

					25%,
					75% {
						opacity: 0;
					}
				}
			}
		}
	}
}

.fancy-form__search-fields input,
.fancy-form__search-fields select {
	font-weight: 400;
	font-size: ms(-1);

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');

		outline: 0;

		box-shadow: 0 4px 0 0 palette('blue', 'dark');
	}
}

.fancy-form__social-network {
	width: 30%;

	@media screen and (min-width: breakpoint('phone')) {
		width: 20%;
	}
}

.fancy-form__input-wrapper {
	width: 100%;

	.fancy-form__social-network:not([hidden]) + & {
		width: 70%;

		@media screen and (min-width: breakpoint('phone')) {
			width: 80%;
		}
	}
}

.fancy-form__social-network select {
	padding-right: $line-height * 1em;

	color: palette('purple');

	background-color: palette('gray', 'light');

	border-radius: ($line-height * 1em) 0 0 ($line-height * 1em);
}

.fancy-form__input-wrapper input {
	padding-left: 1.875em;

	border-radius: ($line-height * 1em);

	.fancy-form__social-network:not([hidden]) + & {
		border-radius: 0 ($line-height * 1em) ($line-height * 1em) 0;
	}
}

.fancy-form__input-wrapper label {
	padding-left: ($line-height * 1em);

	text-transform: lowercase;

	color: palette('text', 'dark');

	.fancy-form__social-network:not([hidden]) + & {
		padding-left: 0;
	}
}

.fancy-button,
.fancy-form__button.fancy-form__button {
	width: auto;

	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;

	text-transform: uppercase;

	color: palette('white');

	background-color: palette('orange');

	box-shadow: 0 4px 0 0 palette('orange', 'dark');

	&:hover,
	&:focus {
		box-shadow: 0 4px 0 0 palette('blue', 'dark');
	}

	@media screen and (min-width: breakpoint('phablet')) {
		width: 28%;
	}

	&.fancy-button--purple {
		background-color: palette('purple');

		box-shadow: 0 4px 0 0 palette('purple', 'dark');

		&:hover,
		&:focus {
			background-color: palette('blue', 'dark');
		}
	}
}

.curved-section--purple .fancy-form__followers-button,
.fancy-form__followers-button.fancy-form__followers-button,
.fancy-form__friends-button.fancy-form__friends-button {
	padding: 0;
	margin-bottom: 0;

	text-align: left;

	color: palette('orange');

	border-radius: 0;

	&::before {
		padding-right: 0.5em;
		margin-right: 0.25em;

		color: palette('purple');

		content: image('bullet.png');
	}

	&:hover,
	&:focus {
		color: palette('purple');

		background: transparent;

		box-shadow: none;
	}
}

.fancy-form__followers-button.fancy-form__followers-button {
}

.fancy-form__friends-button.fancy-form__friends-button {
}
