{{ $.Scratch.Add "rootClass" "analysis-page" }}{{ partial "header.html" . }}
<article role="main">
	<div class="wave-ornament" id="wave-ornament">
		<div class="container">
			<div class="jumbotron">
				<h1>{{ .Title }}</h1>

				{{ $input := "(?i)(Pegabot)" }}
				{{ $output := "<b>PEGABOT</b>" }}
				{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>

			<div class="bubble-text">
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/clock.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.RelPermalink }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotTime" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/twitter__white.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.RelPermalink }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotResponsable" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/globe.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.RelPermalink }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotTraffic" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/user.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.RelPermalink }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotProfiles" }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ range where (where $.Site.Pages ".Type" "analysis") ".Kind" "page" }}
		{{ .Render "analysis" }}
	{{ end }}

	<div class="container">
		{{ partial "investigations" . }}
	</div>

</article>

{{ partial "footer.html" . }}
