{{ $.Scratch.Add "rootClass" "analysis-page" }}{{ partial "header.html" . }}
<article role="main">
	<div class="wave-ornament" id="wave-ornament">
		<div class="container">
			<div class="jumbotron">
				<h1>{{ .Title }}</h1>

				{{ $input := "(?i)(Pegabot)" }}
				{{ $output := "<b>PEGABOT</b>" }}
				{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>

			{{ partial "statistics.html" . }}
		</div>
	</div>

	{{ range where (where $.Site.Pages ".Type" "analysis") ".Kind" "page" }}
		{{ .Render "analysis" }}
	{{ end }}

	<div class="container">
		{{ partial "investigations" . }}
	</div>

</article>

{{ partial "footer.html" . }}
