{{ $.Scratch.Add "rootClass" "analysis-page" }}{{ partial "header.html" . }}
<article role="main">
	<div class="wave-ornament" id="wave-ornament">
		<div class="container">
			<div class="jumbotron">
				<h1>{{ .Title }}</h1>

				{{ .Content }}

				<a href="artigo" class="jumbotron__link">{{ i18n "readMore" }}</a>
			</div>

			<div class="bubble-text">
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/clock.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.Permalink }}"
							integrity="{{ $img.Data.Integrity }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotTime" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/twitter__white.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.Permalink }}"
							integrity="{{ $img.Data.Integrity }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotResponsable" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/globe.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.Permalink }}"
							integrity="{{ $img.Data.Integrity }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotTraffic" }} </p>
					</div>
				</div>
				<div class="bubble-text__item">
					<div class="bubble-text__image">
						{{ $img := resources.Get "images/user.svg" | resources.Fingerprint "sha512" }}
						<img
							src="{{ $img.Permalink }}"
							integrity="{{ $img.Data.Integrity }}"
							alt=""
						>
					</div>
					<div class="bubble-text__text">
						<p>{{ i18n "robotProfiles" }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ range .Pages }}
		{{ .Render "analysis" }}
	{{ end }}

	<div class="container">
		{{ partial "investigations" . }}
	</div>

</article>

<script>
	var target = document.getElementById('wave-ornament');

	target.style.transitionProperty = 'background-position';

	function throttle(fn, wait) {
		var time = Date.now();
		return function() {
			if ((time + wait - Date.now()) < 0) {
				fn();
				time = Date.now();
			}
		}
	}

	function updateBgPosition() {
		var scrollHeight = document.body.scrollTop;

		var newPosition = 'left ' + scrollHeight + 'px bottom 1px,'
			+'left ' + scrollHeight + 'px bottom,'
			+'left '+ scrollHeight + 'px bottom 2px';
		target.style.backgroundPosition = newPosition;
	}

	window.addEventListener('load', updateBgPosition);
	window.addEventListener('scroll', updateBgPosition);
</script>

{{ partial "footer.html" . }}
