{{ $.Scratch.Add "rootClass" "colaborate-page" }}{{ partial "header.html" . }}
<article role="main">
	<div class="wave-ornament" id="wave-ornament">
		<div class="container">
			<div class="
				jumbotron
				jumbotron--full
				jumbotron--image
				jumbotron--to-left
				jumbotron--collaborate
			">
				<h1>{{ .Title }}</h1>

				{{ $input := "(?i)(Pegabot)" }}
				{{ $output := "<b>PEGABOT</b>" }}
				{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron-alternate delayed-entrance delayed-entrance__bottom">
			{{ range where $.Site.RegularPages "Section" "collaborate" }}
				<div
					class="
						delayed-entrance
						delayed-entrance__bottom
						jumbotron
						jumbotron--alt-title
						jumbotron--full
						jumbotron--image
					"
					{{ with .Params.slug }}id="{{ . }}"{{ end }}
					style="background-image: url('{{ .Params.imageSrc }}'), url('{{ .Params.bottomImageSrc }}')">

					<h1>{{ .Title }}</h1>

					{{ $input := "(?i)(Pegabot)" }}
					{{ $output := "<b>PEGABOT</b>" }}
					{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
					<p>
						{{ $finalContent }}
					</p>

					<a href="{{ .Params.link }}" target="_blank" class="button">{{ i18n "iWantToCollaborate" }}</a>
				</div>
			{{ end }}
		</div>
	</div>
</article>

<script>
	const button = document.querySelector('#js-load-more-investigations');
	const boxContainer = document.querySelector('#js-link-boxes');
	let page = 2; //first page is already loaded


	if (button) {
		button.addEventListener('click', loadMore);
	}

	function firstCheckOnButton() {
		return fetch('/investigations/index.json')
			.then(response => response.json())
			.then(data => {
				if(data.next_page) {
					button.removeAttribute('hidden');
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	}

	function loadMore() {
		fetch(`/investigations/page/${page}/index.json`)
			.then(response => response.json())
			.then(data => {
				if(!data.next_page) {
					button.setAttribute('hidden', true);
				}
				if(data.content) {
					data.content.forEach((item, i) => {
						i++;
						const translate = 30;
						const box = document.createElement('div');
						const bigScreen = window.matchMedia('(min-width: 768px)').matches;

						box.classList.add('link-boxes__box');
						box.style.opacity = 0;
						if(bigScreen) {
							box.style.transform = "translateY(100px)";
						}

						box.innerHTML = `
							<h2>${item.title}</h2>
							<a href="${item.file}" target="_blank" class="button">
								{{ i18n "analysisDownload" }}
							</a>
						`;

						boxContainer.append(box);

						if(i === 1) {
							window.scrollTo({
								top: box.offsetTop,
								behavior: "smooth"
							});
						}

						setTimeout(()=> {
							box.style.opacity = 1;

							if(bigScreen) {
								box.style.transform = `translateY(${translate * i}px)`;
							}
						}, i*300);
					})
					page++;
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	}

	firstCheckOnButton();
</script>

{{ partial "footer.html" . }}
