{{ $.Scratch.Add "rootClass" "details-page" }}{{ partial "header.html" . }}

<article role="main">
	<header class="details-page__wave-header">
		<div class="container">
			<h1>{{ .Title }}</h1>

			{{ with .Content }}
				{{ $input := "(?i)(Pegabot)" }}
				{{ $output := "<b>PEGABOT</b>" }}
				{{ $finalContent := . | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			{{ end }}
		</div>
	</header>

	<div class="container">
		<div id="app" hidden>
			<noscript>{{ i18n "noScriptMessage" }}</noscript>
			<section
				class="results-details results-loading"
				:aria-busy="(metadata.loading && !profileDetails) | booleanToString"
				data-loading-1="{{ i18n "analisysLoading-1" }}"
				data-loading-2="{{ i18n "analisysLoading-2" }}"
				data-loading-3="{{ i18n "analisysLoading-3" }}"
				data-loading-4="{{ i18n "analisysLoading-4" }}"
				data-loading-5="{{ i18n "analisysLoading-5" }}"
			>
				<template
					v-if="profileDetails"
				>
					<results-detail
						v-for="(item, propertyName) in profileDetails"
						:item="item"
						:property-name="propertyName"
						:key="propertyName"
						:loading="metadata.loading"
					/>
				</template>
			</section>
		</div>
		{{ with .Resources.ByType "page" }}
			{{ range . }}
				<footer
					id="section-footer"
					class="footer"
				>
					{{ with .Title }}
						<h2 class="article__title">
							{{ . }}
						</h2>
					{{ end }}

					{{ with .Content }}
						{{ $input := "(?i)(Pegabot)" }}
						{{ $output := "<b>PEGABOT</b>" }}
						{{ $finalContent := . | replaceRE $input $output | safeHTML }}
						{{ $finalContent }}
					{{ end }}
				</footer>
			{{ end }}
		{{ end }}
	</div>
</article>


<script type="text/x-template" id="results__detail">
	{{ partial "microtemplates/resultsDetails.html" . }}
</script>

{{ .Scratch.Set "notBackToTop" true }}
{{ .Scratch.Set "notNewsletter" true }}

{{ partial "backToTop.html" . }}
{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "check-another-one") }}
	{{ .Render "curved-section" }}
{{ end }}
{{ partial "footer.html" . }}
