{{ if eq (getenv "NODE_ENV") "development" }}
{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" src="https://vuejs.org/js/vue.js" crossorigin="anonymous">
` }}{{ else }}{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" crossorigin="anonymous">
` }}{{ end }}{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5" crossorigin="anonymous">
<link rel="preload" src="/assets/scripts/index.js">
` }}{{ $.Scratch.Add "rootClass" "results-page" }}{{ partial "header.html" . }}

<article role="main">
	<h1>{{ .Title }}</h1>

	{{ with .Content }}
		{{ $input := "(?i)(Pegabot)" }}
		{{ $output := "<b>$1</b>" }}
		{{ $finalContent := . | replaceRE $input $output | safeHTML }}
		{{ $finalContent }}
	{{ end }}

	<div id="result-detail" >
		<noscript>{{ i18n "noScriptMessage" }}</noscript>
		<section
			class="results-details"
			:aria-busy="(metadata.loading && profileDetails.length === 0) | booleanToString"
			data-loading-1="{{ i18n "analisysLoading-1" }}"
			data-loading-2="{{ i18n "analisysLoading-2" }}"
			data-loading-3="{{ i18n "analisysLoading-3" }}"
			data-loading-4="{{ i18n "analisysLoading-4" }}"
			data-loading-5="{{ i18n "analisysLoading-5" }}"
		>

			{{ range $.Site.Data.details.root }}
				{{ partial "microtemplates/resultsDetails.html" . }}
			{{ end }}

			<detail
				v-for="(item, key) in profileDetails"
				:item="item"
			/>
		</section>

	</div>

</article>

<script type="text/x-template" id="results__form">
	{{ partial "microtemplates/resultsForm.html" . }}
</script>

<script type="text/x-template" id="results__footer">
	{{ partial "microtemplates/resultsFooter.html" . }}
</script>

<script type="text/x-template" id="results__profile">
	{{ partial "microtemplates/resultsProfile.html" . }}
</script>

<script type="text/x-template" id="results__detail">
	{{ partial "microtemplates/resultsDetails.html" . }}
</script>

{{ if eq (getenv "NODE_ENV") "development" }}
{{ $.Scratch.Add "scriptsFooter" `
<script src="https://vuejs.org/js/vue.js"></script>
` }}
{{ else }}
{{ $.Scratch.Add "scriptsFooter" `
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
` }}
{{ end }}

{{ $.Scratch.Add "scriptsFooter" `
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="/assets/scripts/index.js"></script>
` }}

{{ partial "footer.html" . }}
