{{ $.Scratch.Add "rootClass" "faq-page" }}{{ partial "header.html" . }}
<article role="main" id="conteudo">
	<h1>{{ .Title }}</h1>

	{{ .Content }}

	{{ with where $.Site.RegularPages ".Type" "faq" }}
		<ul class="questions-list">
			{{ range . }}
				<li class="questions-list__item">
					<a href="#faq__{{ .Params.id }}">
						{{ .Title | safeHTML | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<dl class="questions">
			{{ range . }}
				<div id="faq__{{ .Params.id }}" class="questions__item">
					<dt>{{ .Title | safeHTML | markdownify }}</dt>
					<dd>
						{{ .Content }}
					</dd>
				</div>
			{{ end }}
		</dl>
	{{ end }}

</article>
{{ partial "footer.html" . }}
