{{ $.Scratch.Add "rootClass" "faq-page" }}{{ partial "header.html" . }}
<article role="main">
	<h1>{{ .Title }}</h1>

	{{ $input := "(?i)(Pegabot)" }}
	{{ $output := "<b>PEGABOT</b>" }}
	{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
	{{ $finalContent }}

	{{ with where $.Site.RegularPages ".Type" "faq" }}
		<section class="questions">
			{{ range . }}
				<details id="faq__{{ .Params.id }}" class="questions__item">
					<summary class="questions__question">{{ .Title | safeHTML | markdownify }}</summary>
					<div
						class="questions__answer"
					>
						{{ $input := "(?i)(Pegabot)" }}
						{{ $output := "<b>PEGABOT</b>" }}
						{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
						{{ $finalContent }}
					</div>
				</details>
			{{ end }}
		</section>
	{{ end }}

	{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "faq-contact") }}
		{{ .Render "curved-section" }}
	{{ end }}

</article>

{{ partial "footer.html" . }}
