{{ $.Scratch.Add "rootClass" "transparency-page" }}{{ partial "header.html" . }}
<main
	role="main"
	class="transparency__main"
>
	<article
		class="
			wave-ornament
		"
	>
		<div
			class="
				jumbotron
				jumbotron--full
				jumbotron--text-right
				jumbotron--alt-title
				jumbotron--video
				container
			"
		>
			{{ $video := resources.Get "video/pegabot--480x480.mp4" | resources.Fingerprint "sha512" }}

			<video
				src="{{ $video.RelPermalink }}"
				poster autoplay loop playsinline
			></video>

			<div class="jumboton--video__text">
				<h1>{{ .Title }}</h1>

				{{ $input := "(?i)(Pegabot)" }}
				{{ $output := "<b>PEGABOT</b>" }}
				{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>
		</div>

	</article>

	{{ range where (where .Site.RegularPages ".Type" "transparency") ".Params.transparency" true }}
		{{ .Render "article-with-resources" }}

		{{ if eq ($.Scratch.Get "count") 2 }}
			{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "ue") }}
				{{ .Render "curved-section" }}
			{{ end }}
		{{ end }}

		{{ $.Scratch.Add "count" 1 }}
	{{ end }}

	{{ with .Site.GetPage "transparency/criteria" }}
		{{ .Render "article-with-resources" }}
	{{ end }}

	{{ range first 1 (where $.Site.Pages ".Type" "bookmark") }}
		{{ .Render "curved-section" }}
	{{ end }}

	<div>
		{{ with .Site.GetPage "results" }}
			{{ range where (.Resources.Match "explain*") ".Kind" "page" }}
				{{ .Render "article" }}
			{{ end }}
		{{ end }}
	</div>

	{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "pegabot") }}
		{{ .Render "curved-section" }}
	{{ end }}
</main>

{{ partial "footer.html" . }}
