/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

$duration: 0.5s;

.skip-links {
	padding: 0;
	margin: 0;

	border: 0;
}

.skip-links a {
	@include visually-hidden--focusable;
}

.header-menu-and-banner {
	display: flex;

	width: 100%;
	height: 4rem;
	max-width: $max-width;

	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	z-index: layer('dropdown');

	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	font-size: ms(-1);
	font-family: $title-font-stack;

	background-color: palette('white');

	box-shadow: 2px 2px 8px 0 palette('shadow');

	@media screen and (min-width: breakpoint('tablet')) {
		position: relative;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		box-shadow: 1px 1px 4px 0 palette('shadow');
	}
}

[for='menu-opener'] {
	position: relative;

	z-index: layer('default');

	width: $gutter * 1.5;
	height: 100%;

	padding: 0;
	margin-right: 0;
	margin-left: auto;

	overflow: hidden;

	&::before {
		display: block;

		height: 100%;

		background-image: image('mobile-menu-button.svg');
		background-position: 50% 50%;

		content: '';
	}

	@media screen and (min-width: breakpoint('tablet')) {
		display: none;
	}
}

.languages-and-header-menus {
	position: fixed;
	top: 4rem;
	right: 0;
	bottom: 0;

	display: flex;
	z-index: layer('dropdown');

	flex-direction: column;

	max-width: 0;

	padding-right: 0;
	padding-left: 0;

	overflow: hidden;

	font-size: ms(1);

	text-align: right;

	color: palette('orange');

	background-color: palette('blue', 'dark');

	transition-duration: $duration;
	transition-property: max-width, padding-right, padding-left;

	[id='menu-opener']:checked + div & {
		max-width: 100%;

		padding-right: $gutter;
		padding-left: $gutter;

		overflow: visible;

		&::before {
			position: fixed;
			top: 4rem;
			right: 0;
			bottom: 0;
			left: 0;

			z-index: layer('below');

			background-color: palette('shadow');

			content: '';

			opacity: 1;

			transition-duration: $duration;
			transition-property: opacity;
		}
	}

	@media screen and (min-width: breakpoint('tablet')) {
		position: static;

		max-width: none;

		margin-right: 0;
		margin-left: auto;

		overflow: visible;

		font-size: inherit;

		background-color: transparent;

		&::before {
			content: none;
		}

		[id='menu-opener']:checked + div & {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.languages-and-header-menus li {
	padding-top: $gutter * 0.5;
	padding-right: 0;
	padding-bottom: $gutter * 0.5;

	@media screen and (min-width: breakpoint('tablet')) {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}

.languages-and-header-menus a {
	display: inline;

	&:hover,
	&:focus,
	&:active {
		color: palette('white');
	}

	@media screen and (min-width: breakpoint('tablet')) {
		display: block;

		&:hover,
		&:focus,
		&:active {
			color: palette('orange');
		}
	}
}

.header-menu {
	flex-grow: 1;
	order: -1;

	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;

	font-size: inherit;

	@media screen and (min-width: breakpoint('tablet')) {
		clear: right;

		display: table;

		order: unset;

		width: auto;
		max-width: 80rem;

		margin-top: auto;
		margin-bottom: auto;

		color: palette('blue');
	}
}

.header-menu ul {
	margin-bottom: 0;

	@media screen and (min-width: breakpoint('tablet')) {
		display: table-row;

		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}

.header-menu li {
	@media screen and (min-width: breakpoint('tablet')) {
		display: table-cell;

		padding-right: 0;
		padding-left: $gutter;

		vertical-align: middle;

		&:first-child {
			padding-left: 0;
		}
	}
}

.languages-menu {
	position: relative;

	display: block;

	margin-top: auto;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;

	font-size: inherit;

	border-top: $stroke solid palette('white');

	@media screen and (min-width: breakpoint('tablet')) {
		margin-top: auto;
		margin-bottom: auto;

		color: palette('text', 'dark');

		border: 0;
	}
}

.languages-menu button {
	display: none;

	@media screen and (min-width: breakpoint('tablet')) {
		display: block;

		&:focus {
			pointer-events: none;

			outline: $stroke dotted;
		}
	}
}

.languages-menu ul {
	display: block;

	padding-top: 0;
	padding-bottom: 0;
	margin: 0;

	@media screen and (min-width: breakpoint('tablet')) {
		position: absolute;

		max-height: 0;

		padding-right: $gutter * 0.25;
		padding-left: $gutter * 0.25;

		overflow: hidden;

		text-align: left;

		background-color: palette('white');

		box-shadow: 2px 2px 8px 0 palette('shadow');

		will-change: box-shadow, max-height;
		transition-duration: $duration;
		transition-property: box-shadow, max-height;
	}
}

@media screen and (min-width: breakpoint('tablet')) {
	.languages-menu:hover > ul,
	.languages-menu :focus + ul {
		max-height: 500px;

		box-shadow: 2px 2px 8px 0 palette('shadow');
	}
}

.languages-menu li {
	display: block;

	padding-top: $gutter * 0.25;
	padding-bottom: $gutter * 0.25;

	@media screen and (min-width: breakpoint('tablet')) {
		& + li {
			border-top: $stroke solid;
		}
	}
}

.responsibles {
	@extend %content-info;

	@media screen and (min-width: breakpoint('phablet')) {
		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}

[role='banner'] {
	float: left;

	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0;

	line-height: 1.25;
}

[role='banner'] a {
	@include image-replacement;

	display: block;

	width: 100%;
	height: 100%;
	min-width: 150px;
	min-height: 45px;

	background-image: image('logos/logotype.svg');
	background-position: 50% 50%;
	background-size: 37px 36px;

	@media screen and (min-width: breakpoint('desktop')) {
		background-image: image('logos/logotype__horizontal.svg');
		background-size: 150px 45px;
	}

	[lang='pt-br'] & {

	}

	[lang='es-mx'] & {

	}
}

.site-header .site-tagline {
	max-width: 13em;

	margin-right: auto;
	margin-left: auto;
}

[id='menu-opener']:checked + .main-container {
	height: 100%;

	padding: 0;

	overflow: hidden;
}
