/**
 * The main content of a document.
 *
 * This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `main` role.
 *
 * The `[role='main']` element can be a `main` or an `article`
 */

.main-container {
	display: flex;

	flex-direction: column;

	min-height: 100%;
}

.content-container {
	display: flex;

	flex-direction: column;
	flex-grow: 1;

	margin-top: $line-height * 2rem;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-top: 0;
	}
}

[role='main'],
main {
	@include clearfix;

	flex-grow: 1;

	width: 100%;
	max-width: $max-width;

	padding: $gutter;
	margin-right: auto;
	margin-left: auto;
}

[role='main'] > article {
	@media screen and (min-width: breakpoint('tablet')) {
		// starting at 2nd
		&:nth-of-type(n + 2) {
			min-height: 477px;

			background-size: 213px 223px,
			81px 84px,
			102px 108px;
		}

		// even
		&:nth-of-type(2n) {
			background-position: $gutter 185px;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		// even
		&:nth-of-type(2n) {
			background-position: calc(50vw - 213px - 86px) 185px,
			calc(50vw - 81px - 366px) 398px,
			calc(50vw - 102px - 398px) 150px;
		}

		// starting at 3rd
		&:nth-of-type(2n + 1) {
			background-position: calc(50vw + 96px) 176px,
			calc(50vw + 376px) 384px,
			calc(50vw + 406px) 139px;
		}
	}
}

.article__title,
[role='doc-subtitle'],
.article__content {
	@media screen and (min-width: breakpoint('tablet')) {
		max-width: 31.25rem;

		margin-right: auto;
		margin-left: 0;

		figure {
			float: right;
		}

		// even
		article:nth-of-type(2n) & {
			margin-right: 0;
			margin-left: auto;

			text-align: right;

			background-position: $gutter 185px;

			figure {
				float: left;
			}
		}
	}
}

.section-footer {
	column-width: 22rem;
	column-count: 2;
	column-fill: balance;
	column-gap: $gutter;
	column-rule: $stroke solid palette('gray', 'x-light');
	orphans: 2;
	widows: 2;

	* {
		max-width: none;
	}
}
