/* TABLES
============================================================================ */
table,
thead,
tbody,
tfoot,
tr,
th,
td {
	width: auto;
	height: auto;

	font-size: 1em;
	font-family: inherit;

	vertical-align: top;

	background-color: transparent;

	border: 0;
}

@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
	table:not(.no-responsive) {
		display: block;

		> tr {
			display: block;
		}

		> thead,
		> tbody,
		> tfoot {
			display: block;

			> tr {
				display: block;

				> th,
				> td {
					display: block;
				}
			}
		}
	}
}

table {
	@include fallback('margin', 0 0 1.5em 0);/* line-height */

	font-size: 100%;
	font-family: inherit;
	font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 0, 'tnum' 1, 'onum' 0, 'lnum' 1, 'dlig' 0;

	border-collapse: collapse;
	empty-cells: show;
}

table p,
table li {
	font-size: 1em;
}

caption {
}

tr {
	@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
		@include fallback('margin', 0 0 1.5rem);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

th {
	font-weight: bold;
}

td {
	font-family: inherit;

	@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
		&:empty {
			display: none;
		}
	}
}

thead th,
thead td {
	text-align: right;
	vertical-align: bottom;

	@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
		display: none;
	}
}

thead th:first-child,
tfoot th:first-child {
	text-align: left;
}

thead > tr:nth-last-of-type(odd) > th,
thead > tr:nth-last-of-type(odd) > td {
}

tbody th {
	text-align: left;
}

tbody td {
	text-align: right;

	font-variant-numeric: lining-nums oldstyle-nums;

	@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
		text-align: left;

		&[title] {
			text-align: right;

			&::before {
				float: left;

				font-style: italic;

				content: attr(title)': ';
			}
		}
	}
}

td img {
	vertical-align: top;
}

tbody tr:nth-of-type(odd) > th,
tbody tr:nth-of-type(odd) > td {

	@media screen and (max-width: #{breakpoint('toggle-table-layout') - 0.01em}) {
		background-color: transparent;
	}
}

tfoot th,
tfoot td {
	vertical-align: top;
}
