.details-page [role='main'] {
	position: relative;

	max-width: none;

	padding-top: 0;
	padding-right: 0;
	padding-left: 0;

	&::before {
		@media screen and (min-width: breakpoint('tablet')) {
			position: absolute;
			top: 4rem;
			right: 1.5rem;

			display: block;

			width: 20rem;
			height: 20rem;

			background-image: image('logotype.svg');

			content: '';
		}

		@media screen and (min-width: breakpoint('desktop')) {
			right: 2rem;
		}

		@media screen and (min-width: breakpoint('wide')) {
			right: calc(40% - 430px);
		}
	}
}

.details-page__wave-header {
	position: relative;

	padding-top: $gutter * 2;
	padding-bottom: 15rem;
	margin-bottom: 4rem;

	background-image: image('bg-wave--4.svg');
	background-position: center bottom;
	background-color: $_blue--opacity;
}

.details-page__wave-header h1 {
	font-size: ms(6);
}

.details-page__wave-header p {
	color: palette('white');
}

.details-page [role='main'] > p {
	max-width: 43.75em;
}

.results-details__item {
	display: flex;

	flex-wrap: wrap;

	margin-right: $gutter * -0.5;
	margin-left: $gutter * -0.5;

	font-size: ms(-1);

	&::after {
		flex-basis: 100%;
		flex-grow: 3;

		max-width: calc(100% / 3 * 2);
		min-width: calc(100% / 3);

		content: '';
	}
}

.results-details__intro {
	display: flex;

	flex-basis: 100%;
	flex-wrap: wrap;

	margin-right: $gutter * 0.5;
	margin-bottom: $gutter * 2;
	margin-left: $gutter * 0.5;

	@media screen and (min-width: breakpoint('tablet')) {
		// because of chrome
		flex-wrap: nowrap;
	}
}

.results-details__intro--network {
	&::after {
		flex-basis: 320px;
		flex-grow: 1;

		max-width: 100%;
		min-height: 245px;

		background-image: image('detail-network.png');
		background-position: 50% 50%;
		background-size: contain;

		content: '';

		@media screen and (min-width: breakpoint('tablet')) {
			flex-grow: 2;
		}
	}
}

.results-details__intro--emotions {
	&::after {
		flex-basis: 388px;
		flex-grow: 1;

		max-width: 100%;
		min-height: 286px;

		background-image: image('detail-emotions.png');
		background-position: 50% 50%;
		background-size: contain;

		content: '';

		@media screen and (min-width: breakpoint('tablet')) {
			flex-grow: 1;
		}
	}
}

.results-details__intro-container {
	flex-basis: calc(100% / 3 * 2 - #{$gutter});
	flex-grow: 2;

	@media screen and (min-width: breakpoint('tablet')) {
		flex-grow: 1;
	}
}

.results-details__profile-capture {
	align-self: flex-start;
	flex-basis: calc(100 / 3 - #{$gutter});
	flex-grow: 1;

	max-height: none;

	border-radius: 6px;

	box-shadow: 3px 3px 9px 0 palette('shadow');
}

.results-details__subtitle[role='doc-subtitle'][class] {
	margin: 0;

	text-align: left;
}

.results-details__title {
	display: flex;

	align-items: center;

	font-size: ms(4);

	&::before {
		display: inline-block;

		margin-right: 1rem;

		background-size: contain;

		content: '';
	}
}

.results-details__title--profile {
	&::before {
		min-width: 34px;
		min-height: 30px;

		background-image: image('details-profile.svg');
	}
}

.results-details__title--network {
	&::before {
		min-width: 36px;
		min-height: 30px;

		background-image: image('details-network.svg');
	}
}

.results-details__title--emotions {
	&::before {
		min-width: 30px;
		min-height: 30px;

		background-image: image('details-emotions.svg');
	}
}

.results-details__description {
	max-width: 31.25rem;

	margin-bottom: $gutter;
}

.results-details__handle {
	margin: 0;
}

.results-details__handle dt {
	float: left;

	margin-right: 0.25em;

	text-transform: capitalize;

	color: palette('orange');

	&::after {
		content: ': ';
	}
}

.results-details__link {
	margin: 0;
}

.results-details__link dt {
	float: left;

	margin-right: 0.25em;

	text-transform: capitalize;

	color: palette('orange');

	&::after {
		content: ': ';
	}
}

.results-details__analysis {
	flex-basis: calc(100% / 3 - #{$gutter});
	flex-grow: 1;

	margin: $gutter * 0.5;
}

.results-details__analysis--chart,
.results-details__analysis--samples {
	display: flex;

	flex-basis: 100%;
	flex-wrap: wrap;

	max-width: 100%;

	margin-right: 0;
	margin-left: 0;
}

.results-details__analysis-container {
	min-width: $min-width;
}

.results-details__analysis-container--chart {
	flex-grow: 1;

	width: calc(100% / 3 - #{$gutter});
	max-width: 100%;

	margin-right: $gutter * 0.5;
	margin-left: $gutter * 0.5;
}

.results-details__analysis-title {
	margin-top: 0;

	font-size: ms(0);

	text-transform: uppercase;

	color: palette('purple');
}

.results-details__analysis-subtitle {
	font-size: ms(0);

	color: inherit;
}

.results-details__conclusion {
}

.results-details__card {
	padding: $gutter * 0.5;

	background-color: palette('white');

	border-radius: 6px;

	box-shadow: 3px 3px 9px 0 palette('shadow');
}

.results-details__analysis-subtitle--card {
	margin-top: 0;

	font: inherit;
}

.results-details__hashtags {
}

.results-details__list {
	@include clearfix;

	color: palette('orange');
}

.results-details__list-item {
	float: left;

	margin-right: 0.25em;

	white-space: nowrap;

	list-style-type: none;

	&::before {
		content: '';
	}
}

.results-details__list-link {
	@include link-undercover;
}

.results-details__mentions {
}

.results-details__mentions-avatar {
	display: block;

	min-width: 66px;
	min-height: 66px;
}

.results-details__tweets {
}

.results-details__samples {
	width: 100%;
}

.results-details__samples-title {
	font-size: ms(1);

	text-align: center;

	color: palette('purple');
}

.results-details__samples-list {
	display: flex;

	flex-wrap: wrap;

	margin-right: $gutter * -0.5;
	margin-left: $gutter * -0.5;

	text-align: center;
}

.results-details__samples-list::after,
.results-details__samples-item {
	flex-basis: calc(100% / 3 - #{$gutter});
	flex-grow: 1;

	width: 100%;
	min-width: $min-width;

	margin: $gutter * 0.5;

	content: '';
}

.results-details__sample-image {
	display: block;

	width: 100%;

	margin-bottom: $gutter;

	font-size: ms(-1);

	border-radius: 6px;

	box-shadow: 3px 3px 9px 0 palette('shadow');
}

.results-details__chart {
	flex-grow: 1;

	width: calc(100% / 3 * 2 - #{$gutter});
	max-width: 100%;
	min-width: $min-width;

	margin-right: $gutter * 0.5;
	margin-left: $gutter * 0.5;

	overflow: hidden;

	@media screen and (min-width: $min-width / 1rem * 3em ) {
		order: -1;
	}
}

.results-details__stats {
}

.results-details__stats-table {
	width: 100%;

	font-weight: bold;
}

.results-details__stats-item {
}

.results-details__stats-title {
	text-align: left;

	color: palette('orange');
}

.results-details__stats-value {
	text-align: right;

	&::after {
		font-weight: normal;

		content: '/ 100';
	}
}
