
.home-page .main-container {
	max-width: none;

	@media screen and (min-width: breakpoint('tablet')) {
		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: 50%;

			z-index: -1;

			width: 100vw;
			height: 100vh;
			max-width: $max-width;

			content: '';

			transform: translateX(-50%);
		}

		&::before {
			background-image: image('robot__purple--square.svg');
			background-position: $gutter 192px;
		}

		&::after {
			background-image: image('robot__purple--circular.svg');
			background-position: right $gutter top 384px;
		}
	}
}

.home-page .content-container {
	padding-top: $line-height * 3rem;
}

.home-page [role='banner'] {
	display: none;

	@media screen and (min-width: breakpoint('phablet')) {
		display: block;
	}
}

.home-page [role='banner'] a {
	&.pt-br {

	}

	&.es-mx {

	}
}

.home-page [role='main'] {
	max-width: none;

	padding-top: $line-height * 7rem;

	background-image: image('logos/logotype__vertical.svg');
	background-position: 50% 0;
	background-size: 155px 146px;
}

.home-page .fancy-form {
}

.intro {
	position: relative;

	clear: both;

	z-index: layer('default');

	padding-top: 0;
	padding-right: $gutter;
	padding-left: $gutter;

	font-size: ms(-2);

	text-align: right;
}

.intro > .container {
	max-width: 33rem;

	padding-top: 0;
	margin-top: 0;

	&::after {
		display: block;

		min-height: 38px;

		background-image: image('scroll-indicator.svg');
		background-position: 50% 50%;
		background-size: contain;
	}
}

.intro p {
	max-width: 18.75rem;

	margin-right: 0;
	margin-left: auto;

	text-align: left;

}

.intro p:last-child {
	a:only-child {
		display: block;

		font-weight: font-weight('black');
		font-size: 1rem;

		text-align: right;
		text-transform: lowercase;
	}
}

.home__main > article:not(.has-resources) {
	@media screen and (min-width: breakpoint('tablet')) {
		// second
		&:nth-of-type(2) {
			background-image: image('robot__orange--circular.svg');
		}

		// third
		&:nth-of-type(3) {
			background-image: image('robot__yellow--rounded.svg');
		}

		// forth
		&:nth-of-type(4) {
			background-image: image('robot__purple--square.svg');
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		// second
		&:nth-of-type(2) {
			background-image: image('robot__orange--circular.svg'),
			image('robot__purple--square.svg'),
			image('robot__yellow--rounded.svg');
		}

		// third
		&:nth-of-type(3) {
			background-image: image('robot__yellow--rounded.svg'),
			image('robot__orange--circular.svg'),
			image('robot__purple--square.svg');
		}

		// forth
		&:nth-of-type(4) {
			background-image: image('robot__purple--square.svg'),
			image('robot__yellow--rounded.svg'),
			image('robot__orange--circular.svg');
		}
	}
}
