.analisys-form {
	position: relative;

	z-index: layer('default');
}

.analisys-form > fieldset {
	max-width: 33em;

	margin-right: auto;
	margin-left: auto;
}

.analisys-form legend {
	@include visually-hidden;
}

.analisys-form label {
	position: absolute;
	top: -2em;
	right: 0;
	left: 0;

	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.analisys-form input,
.analisys-form select,
.analisys-form button {
	display: block;

	width: 100%;
	height: 100%;

	padding-top: ($line-height / 2 * 1em);
	padding-right: ($line-height / 2 * 1em);
	padding-bottom: ($line-height / 2 * 1em);
	padding-left: ($line-height / 2 * 1em);

	font-size: 1em;
	line-height: $line-height;

	background-color: transparent;

	border: 0;
	border-radius: ($line-height * 1em);

	box-sizing: border-box;

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');
	}
}

.analysis-form__search-fields {
	@include clearfix;

	height: $line-height * 2em;

	margin-bottom: $line-height * 1em;

	line-height: $line-height;

	background-color: palette('gray', 'x-light');

	border-radius: $border-radius;

	box-shadow: 0 6px 0 0 palette('gray', 'base'), 0 20px 10px palette('shadow');

	@media screen and (min-width: breakpoint('phablet')) {
		float: left;

		width: 70%;

		margin-right: 2%;
	}
}

.analysis-form__search-fields p {
	position: relative;

	float: left;

	height: 100%;

	margin: 0;
}

.analisys-form button {
	padding-right: ($line-height * 1em);
	padding-left: ($line-height * 1em);

	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.analysis-form__search-fields input,
.analysis-form__search-fields select {
	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');

		outline: 0;
	}
}

.analisys-form__social-network {
	width: 30%;

	@media screen and (min-width: breakpoint('phone')) {
		width: 20%;
	}
}

.analisys-form__profile {
	width: 70%;

	@media screen and (min-width: breakpoint('phone')) {
		width: 80%;
	}
}


.analisys-form__social-network select {
	padding-right: $line-height * 1em;

	color: palette('purple');

	background-color: palette('gray', 'light');

	border-radius: ($line-height * 1em) 0 0 ($line-height * 1em);
}

.analisys-form__profile input {
	border-radius: 0 ($line-height * 1em) ($line-height * 1em) 0;
}

.analysis-form__profile-button.analysis-form__profile-button {
	width: auto;

	margin-right: 0;
	margin-bottom: $line-height * 1em;
	margin-left: auto;

	color: palette('white');

	background-color: palette('orange');

	box-shadow: 0 6px 0 0 palette('orange', 'dark'), 0 20px 10px palette('shadow');

	&:hover,
	&:focus {
		box-shadow: 0 6px 0 0 palette('blue', 'dark'), 0 20px 10px palette('shadow');
	}

	@media screen and (min-width: breakpoint('phablet')) {
		width: 28%;
	}
}

.analysis-form__followers-button.analysis-form__followers-button,
.analysis-form__friends-button.analysis-form__friends-button {
	padding: 0;
	margin-bottom: 0;

	text-align: left;

	color: palette('orange');

	border-radius: 0;

	&::before {
		padding-right: 0.5em;
		margin-right: 0.25em;

		color: palette('purple');

		content: image('bullet.png');
	}

	&:hover,
	&:focus {
		color: palette('purple');

		background: transparent;
	}
}

.analysis-form__followers-button.analysis-form__followers-button {
}

.analysis-form__friends-button.analysis-form__friends-button {
}
