.analisys-form {
	position: relative;

	z-index: layer('default');

	max-width: none;

	@media screen and (min-width: breakpoint('desktop')) {
	}

	@media screen and (min-width: breakpoint('wide')) {
		background-size: auto;

		&::before,
		&::after {
			content: none;
		}
	}
}

.analisys-form > fieldset {
	max-width: 33em;
	min-height: 2.5rem; // 40px

	padding-top: $line-height * 1rem;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	box-sizing: content-box;

	@media screen and (min-width: breakpoint('phablet')) {
		// padding-top: 15%;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		// padding-top: 15rem;
	}
}

.analisys-form legend {
	@include visually-hidden;
}

.analisys-form :placeholder-shown + label {
	bottom: 2.5rem; // 40px

	transform: translateY(50%);
}

.analisys-form label,
.analisys-form :hover + label,
.analisys-form :focus + label,
.analisys-form label:hover {
	position: absolute;
	top: -1.25rem;
	right: 0;
	left: 0;

	height: 2.5rem; // 40px

	overflow: hidden;

	font-weight: 900;
	font-size: ms(-1);
	line-height: 2.5rem; // 40px

	text-overflow: ellipsis;
	white-space: nowrap;

	transform: translateY(-50%);

	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

	&::before {
		content: '@';
	}
}

.analisys-form input,
.analisys-form select,
.analisys-form button {
	display: block;

	width: 100%;
	height: 2.5rem; // 40px

	padding-top: ($line-height / 4 * 1em);
	padding-right: ($line-height / 4 * 1em);
	padding-bottom: ($line-height / 4 * 1em);
	padding-left: ($line-height / 4 * 1em);

	line-height: $line-height;

	background-color: transparent;

	border: 0;
	border-radius: ($line-height * 1em);

	box-sizing: border-box;

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');
	}
}

.analysis-form__search-fields {
	@include clearfix;

	height: 100%;

	margin-bottom: $line-height * 1em;

	line-height: $line-height;

	background-color: palette('gray', 'x-light');

	border-radius: $border-radius;

	box-shadow: 0 4px 0 0 palette('gray', 'base');

	&:hover,
	&:focus {
		box-shadow: 0 4px 0 0 palette('blue', 'dark');
	}

	@media screen and (min-width: breakpoint('phablet')) {
		float: left;

		width: 70%;

		margin-right: 2%;
	}
}

.analysis-form__search-fields p {
	position: relative;

	float: left;

	height: 100%;

	margin: 0;
}

.analisys-form button {
	padding-right: ($line-height * 1em);
	padding-left: ($line-height * 1em);

	overflow: hidden;

	font-weight: 900;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.analysis-form__search-fields input,
.analysis-form__search-fields select {
	font-weight: 400;
	font-size: ms(-1);

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('purple');

		outline: 0;
	}
}

.analisys-form__social-network {
	width: 30%;

	@media screen and (min-width: breakpoint('phone')) {
		width: 20%;
	}
}

.analisys-form__profile {
	width: 100%;

	.analisys-form__social-network:not([hidden]) + & {
		width: 70%;

		@media screen and (min-width: breakpoint('phone')) {
			width: 80%;
		}
	}
}

.analisys-form__social-network select {
	padding-right: $line-height * 1em;

	color: palette('purple');

	background-color: palette('gray', 'light');

	border-radius: ($line-height * 1em) 0 0 ($line-height * 1em);
}

.analisys-form__profile input {
	padding-left: 1.875em;

	border-radius: ($line-height * 1em);

	.analisys-form__social-network:not([hidden]) + & {
		border-radius: 0 ($line-height * 1em) ($line-height * 1em) 0;
	}
}

.analisys-form__profile label {
	padding-left: ($line-height * 1em);

	.analisys-form__social-network:not([hidden]) + & {
		padding-left: 0;
	}
}

.analysis-form__profile-button.analysis-form__profile-button {
	width: auto;

	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;

	text-transform: uppercase;

	color: palette('white');

	background-color: palette('orange');

	box-shadow: 0 4px 0 0 palette('orange', 'dark');

	&:hover,
	&:focus {
		box-shadow: 0 4px 0 0 palette('blue', 'dark');
	}

	@media screen and (min-width: breakpoint('phablet')) {
		width: 28%;
	}
}

.analysis-form__followers-button.analysis-form__followers-button,
.analysis-form__friends-button.analysis-form__friends-button {
	padding: 0;
	margin-bottom: 0;

	text-align: left;

	color: palette('orange');

	border-radius: 0;

	&::before {
		padding-right: 0.5em;
		margin-right: 0.25em;

		color: palette('purple');

		content: image('bullet.png');
	}

	&:hover,
	&:focus {
		color: palette('purple');

		background: transparent;

		box-shadow: none;
	}
}

.analysis-form__followers-button.analysis-form__followers-button {
}

.analysis-form__friends-button.analysis-form__friends-button {
}
