/* checkboxes and radio buttons
---------------------------------------------------------------------------- */
/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset ol,
fieldset ul {
	padding: 0;
	margin: 0;
}

fieldset li {
	display: block;

	padding: 0;
	margin: 0;

	white-space: nowrap;

	list-style-type: none;

	&::before {
		content: none;
	}
}

li label {
	display: inline;

	padding: 0 0.5em;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Reset height (applied by a rule above).
 * 4. Revert the webkit blur effect on focus in Safari for better visual effect.
 */
[type='checkbox'],
[type='radio'] {
	width: auto;
	height: auto; /* 3 */

	padding: 0; /* 2 */

	vertical-align: middle;

	cursor: pointer;

	box-sizing: border-box; /* 1 */

	&:hover {
	}

	&:focus {
		outline-style: auto; /* 4 */
	}
}

[type='radio'] {
	&:indeterminate {
	}

	&:checked {
	}
}

[type='checkbox'] {
	&:checked {
	}
}

li:hover {
	> input,
	> label {
		color: palette('black');
	}
}

li :checked + label {
	font-weight: bold;
}

[disabled] + label,
:disabled + label {
	cursor: default;

	color: palette('disabled', 'foreground');
}
