$logo-width: 140px / 16px * 1rem;

%content-info {
	width: 100%;
	max-width: $logo-width * 2;
}

%content-info h6 {
	margin: 0;

	font-weight: inherit;
	font-size: 1em;

	@media screen and (min-width: breakpoint('tablet')) {
		font-size: ms(-2);
	}
}


%content-info ul,
%content-info li {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

%content-info ul {
	@include clearfix;
}

%content-info li {
	@include image-replacement;
	@include placeholder-bg;

	float: left;

	width: 50%;
	height: $height--desktop;
	max-width: 140px;
	min-width: 80px;

	padding-top: $gutter / 2;
	padding-bottom: $gutter / 2;
	margin-right: auto;
	margin-left: auto;
}

%content-info a {
	display: block;

	height: 100%;
}
