.curved-section {
	padding-top: $gutter * 3;
	padding-bottom: $gutter * 2.5;

	background-image: image('curved-mask__top.svg'),
	image('curved-mask__bottom.svg');
	background-position: 50% 0,
	50% 100%,

	calc(50vw + 300px) 85%,
	calc(50vw + 350px) 25%,
	calc(50vw + 450px) 55%,

	calc(50vw - 300px - 54px) 15%,
	calc(50vw - 350px - 36px) 75%,
	calc(50vw - 450px - 36px) 45%;
	background-size: 100% auto,
	100% auto,

	54px auto,
	36px auto,
	36px auto,

	54px auto,
	36px auto,
	36px auto;

	border-radius: 100% 100% 100% 100% / 12px 12px 12px 12px;
}

.curved-section--ue {
	color: palette('orange');

	background-image: image('curved-mask__top.svg'),
	image('curved-mask__bottom.svg'),

	image('star.svg'),
	image('star.svg'),
	image('star.svg'),

	image('star.svg'),
	image('star.svg'),
	image('star.svg');
	background-size: 100% auto,
	100% auto,

	49px auto,
	40px auto,
	40px auto,

	49px auto,
	40px auto,
	40px auto;
	background-color: palette('blue');
}

.curved-section--twitter {
	color: palette('purple');

	background-image: image('curved-mask__top.svg'),
	image('curved-mask__bottom.svg'),

	image('twitter__crimson--flipped.svg'),
	image('twitter__purple--flipped.svg'),
	image('twitter__dark-blue.svg'),

	image('twitter__crimson.svg'),
	image('twitter__purple.svg'),
	image('twitter__dark-blue--flipped.svg');
	background-color: palette('yellow');

	@media screen and (min-width: breakpoint('desktop')) {
	}
}

.curved-section--robos-por-todos-os-lados {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

.curved-section--revisao-humana {
	color: palette('white');

	background-color: palette('purple');
}

.curved-section--collaborate {
	color: palette('white');

	background-color: palette('orange');

	@media screen and (min-width: breakpoint('desktop')) {
	}
}

.curved-section__container {
	display: flex;

	align-items: center;
	flex-wrap: wrap;

	max-width: 43rem; // 688px

	margin-right: auto;
	margin-left: auto;
}

@function select-all-from($n, $selector) {
	$classes: ();

	@for $i from 1 through $n {
		$class: if($i==1, #{$selector}, #{'~ ' + $selector});
		$classes: join($classes, unquote($class), space);
	}

	@return $classes;
}

.curved-section__content {
	flex-basis: 50%;
	flex-grow: 1;

	#{select-all-from(2, '.active')} & {
		order: 2;
	}

	&:only-child {
		text-align: center;
	}
}

.curved-section__author {
	font-style: italic;
	font-size: ms(-1);
}

.curved-section__image {
	flex-basis: 50%;
	flex-grow: 1;

	height: auto;
	max-width: 100%;

	border-radius: 8px;

	#{select-all-from(2, '.active')} & {
		order: 1;
	}
}

.curved-section__title {
	font-size: ms(6);
	font-family: $title-font-stack;

	color: inherit;

	&:first-child {
		margin-top: 0;
	}
}

.curved-section__subtitle {
	font-size: ms(-2);

	text-transform: uppercase;

	color: palette('orange');
}

.curved-section p a:only-child {
	display: block;

	width: max-content;
	height: 2.5rem; // 40px

	padding-top: ($line-height / 4 * 1em);
	padding-right: ($line-height * 1em);
	padding-bottom: ($line-height / 4 * 1em);
	padding-left: ($line-height * 1em);
	margin-right: auto;
	margin-left: auto;

	overflow: hidden;

	font-weight: 900;
	line-height: $line-height;

	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;

	color: palette('white');

	background-color: palette('purple');

	border: 0;
	border-radius: ($line-height * 1em);

	box-shadow: 0 4px 0 0 palette('purple', 'dark');
	box-sizing: border-box;

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('blue', 'dark');

		box-shadow: 0 4px 0 0 palette('blue', 'x-dark');
	}
}
