.jumbotron {
	max-width: 43.75rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	text-align: center;
}

.jumbotron h1 {
	max-width: 100%;
	color: palette('purple');
}

.jumbotron--alt-title h1 {
	color: palette('orange');
}

.jumbotron p {
	max-width: 100%;
}

.jumbotron__link {
	display: block;
	font-weight: bold;
	text-align: right;
}

.jumbotron__link--center {
	text-align: center;
	color: palette('orange');
}

