.jumbotron {
	max-width: 43.75rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	text-align: center;
}

.jumbotron-alternate .jumbotron:nth-child(even),
.jumbotron--to-left {
	text-align: left;

	@media screen and (min-width: breakpoint('desktop')) {
		padding-right: 40%;
		background-position: 80% 100%, 100% 0;
		background-size: auto 140px;
	}
}

.jumbotron-alternate .jumbotron:nth-child(odd),
.jumbotron--to-right {
	text-align: right;

	@media screen and (min-width: breakpoint('desktop')) {
		padding-left: 40%;
		background-position: 0 0, 10% 100%;
		background-size: auto 140px;
	}
}

.jumbotron--full {
	max-width: 100%;
}

.jumbotron--image {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-position: top left, bottom right;
	background-size: auto 65px;
	background-repeat: no-repeat;

	@media screen and (min-width: breakpoint('desktop')) {
		padding-top: 4rem;
		padding-bottom: 4rem;
		margin-bottom: 8rem;
	}
}

.jumbotron--video {
	display: flex;
	flex-wrap: wrap;
	text-align: right;

	@media screen and (min-width: breakpoint('desktop')) {
		text-align: left;
	}
}

.jumbotron--video video {
	display: none;

	@media screen and (min-width: breakpoint('desktop')) {
		display: block;
		max-width: 40%;
	}
}

.jumboton--video__text {
	@media screen and (min-width: breakpoint('desktop')) {
		max-width: 60%;
		padding-left: $gutter * 2;
	}
}

.jumbotron--collaborate {
	background-image: image('robot__purple--square.svg'), image('robot__orange--square.svg'), image('logotype.svg');
	background-position: 80% 0%, 100% 100%, 40% 100%;
	background-size: auto, auto, 108px;

	@media screen and (min-width: breakpoint('desktop')) {
		background-position: 80% 0, 100% 50%, 77% 100%;
		background-size: 55px, 85px, 177px;
	}
}

.jumbotron h1 {
	max-width: 100%;
	color: palette('purple');
}

.jumbotron--alt-title h1 {
	color: palette('orange');
}

.jumbotron p {
	max-width: 100%;
}

.jumbotron__link {
	display: block;
	font-weight: bold;
	text-align: right;
}

.jumbotron__link--center {
	text-align: center;
	color: palette('orange');
}

.jumbotron .button {
	width: max-content;
	height: 2.5rem; // 40px

	padding-top: ($line-height / 2 * 1em);
	padding-right: ($line-height * 1em);
	padding-bottom: ($line-height / 2 * 1em);
	padding-left: ($line-height * 1em);
	margin-top: $gutter;
	margin-right: auto;
	margin-left: auto;

	overflow: hidden;

	font-weight: 900;
	line-height: $line-height;

	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;

	color: palette('white');

	background-color: palette('orange');

	border: 0;
	border-radius: ($line-height * 1em);

	box-shadow: 0 4px 0 0 palette('orange', 'dark');

	&:link,
	&:visited {
		text-decoration: none;

		color: palette('white');
	}

	&:hover,
	&:focus {
		color: palette('white');

		background-color: palette('blue', 'dark');

		box-shadow: 0 4px 0 0 palette('blue', 'x-dark');
	}
}
