.newsletter-wrapper {
	color: palette('white');

	background-image: image('top-curve--white.svg');
	background-position: 50% -1px;
	background-size: 102% auto;
	background-color: palette('blue');
}

.newsletter {
	max-width: $max-width;

	padding-top: $gutter * 5;
	padding-right: $gutter;
	padding-bottom: $gutter * 2;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: breakpoint('desktop')) {
		display: flex;

		align-items: center;
		flex-wrap: wrap;
	}
}

.newsletter__content {
	position: relative;

	flex-basis: 40%;
	flex-grow: 1;
}

.newsletter [role='doc-subtitle'] {
	position: absolute;
	top: $gutter * -1;

	color: palette('white');
}

// sass-lint:disable no-ids class-name-format id-name-format no-qualifying-elements no-important
.newsletter #mc_embed_signup div.mce_inline_error {
	position: absolute;
	right: 24px;
	left: 24px;

	background: transparent !important;
}

// sass-lint:enable no-ids class-name-format id-name-format no-qualifying-elements no-important

.newsletter h2 {
	font-size: ms(3);
}

.newsletter h4 {
	font-size: ms(-1);

	color: inherit;
}

.newsletter form {
	margin-bottom: 0;

	@media screen and (min-width: breakpoint('desktop')) {
		width: 60%;
	}
}

.newsletter-wrapper .fancy-form > fieldset {
	padding-bottom: $gutter;
}

[id='mc_embed_signup_scroll'] {
	margin-bottom: 0;
}

// sass-lint:disable no-ids class-name-format id-name-format no-qualifying-elements no-important
#mc_embed_signup div.mce_inline_error {
	position: absolute;
	right: ($line-height * 1em);
	left: ($line-height * 1em);

	font-weight: normal;
	font-size: ms(-1);
}
