@mixin progress-bar-bg {
	&::-webkit-progress-bar {
		@content;
	}

	.progress-bar {
		@content;
	}

	@content;
}

@mixin progress-bar-fg {
	&[value]::-moz-progress-bar {
		@content;
	}

	&[value]::-webkit-progress-value {
		@content;
	}

	.progress-bar > span {
		@include hide-text;

		@content;
	}
}

progress {
	@include progress-bar-fg { // sass-lint:disable-line mixins-before-declarations
		background: linear-gradient(90deg, transparent 50%, palette('button', 'submit') 50%) center/50px 50px transparent;
	}
	@include progress-bar-bg { // sass-lint:disable-line mixins-before-declarations
		background: linear-gradient(90deg, transparent 50%, palette('button', 'base') 50%) center/50px 50px transparent;
	}

	width: 100%;
	height: $line-height * 1em;

	color: palette('button', 'submit');
	// Get rid of default border in Firefox.

	border: 0;
}

.progress-bar {
	color: palette('gray', 'dark');

	background-color: palette('gray', 'base');
}

.progress-bar span {
	display: block;

	height: 0.75rem;

	margin-right: auto;
	margin-left: 0;

	&::before {
		display: block;

		height: 0.75rem;

		background-color: currentColor;

		content: '';

		will-change: width;
		animation: progress 0.5s ease-in-out forwards;

		@at-root {
			@keyframes progress {
				from {
					width: 0;
				}

				to {
					width: 100%;
				}
			}
		}
	}
}
