@mixin progress-bar-bg {
	&::-webkit-progress-bar {
		@content;
	}

	.progress-bar {
		@content;
	}

	@content;
}

@mixin progress-bar-fg {
	&[value]::-moz-progress-bar {
		@content;
	}

	&[value]::-webkit-progress-value {
		@content;
	}

	.progress-bar > span {
		@include hide-text;

		@content;
	}
}

progress {
	width: 100%;
	height: $line-height * 1em;

	color: palette('button', 'submit');

	// Get rid of default border in Firefox.
	border: 0;

	@include progress-bar-fg { // sass-lint:disable-line mixins-before-declarations
		background: linear-gradient(90deg, transparent 50%, palette('button', 'submit') 50%) center/50px 50px transparent;
	}

	@include progress-bar-bg { // sass-lint:disable-line mixins-before-declarations
		background: linear-gradient(90deg, transparent 50%, palette('button', 'base') 50%) center/50px 50px transparent;
	}
}
