// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

$height--desktop: $line-height * 3rem;

.site-footer-container {
	font-family: $title-font-stack;

	color: palette('white');

	background-color: palette('blue', 'dark');
}

.site-footer {
	@include clearfix;

	clear: both;

	max-width: $max-width;

	margin-right: auto;
	margin-left: auto;

	font-size: ms(-1);

	@media screen and (min-width: breakpoint('tablet')) {
		letter-spacing: 0.125em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		text-align: right;
	}
}

.site-footer a {
	&:link,
	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;

		color: inherit;
	}
}

.footer-menu {
	margin-bottom: $line-height * 2.5em;

	font-size: ms(-1);

	color: palette('orange');

	@media screen and (min-width: breakpoint('tablet')) {
		float: left;

		margin-bottom: $line-height * 5em;
	}
}

.site-footer__contact,
.site-footer .site-tagline {
	font-size: ms(-1);
	line-height: 2;

	text-transform: uppercase;
}

.site-footer .site-tagline {
}

.site-footer__contact {
	color: palette('yellow');
}

/**
* A large perceivable region that contains information about the parent document.
*
* Examples of information included in this region of the page are copyrights and links to privacy statements.
*
* Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
*/
[role='contentinfo'] {
}

.site-footer [role='contentinfo'] {
	clear: left;
}

.site-footer [role='contentinfo'] .responsibles {
	@extend %content-info;

	margin-right: auto;
	margin-bottom: $line-height * 1em;
	margin-left: 0;

	overflow: hidden;

	vertical-align: inherit;

	@media screen and (min-width: breakpoint('phablet')) {
		// display: table;

		// width: 100%;
		// max-width: 100%;

		// table-layout: fixed;
		// display: table-cell;

		// width: 50%;

		// padding-right: $gutter / 2;
		// padding-left: $gutter / 2;

		// &:nth-child(odd) {
		// 	padding-left: 0;
		// }

		// &:nth-child(even) {
		// 	padding-right: 0;
		// }
	}

	@media screen and (min-width: breakpoint('desktop')) {
		// width: auto;

		// margin-right: 0;
		// margin-left: auto;

		// text-align: right;
		// vertical-align: middle;

		// table-layout: auto;
		// width: auto;
		// max-width: none;

		// padding: 0;

		// white-space: nowrap;

		// border-collapse: separate;
		// border-spacing: $gutter;
	}
}

.site-footer .responsibles h6 {
	font-size: ms(1);
	font-family: inherit;

	color: inherit;

	@media screen and (min-width: breakpoint('desktop')) {
		float: left;

		line-height: $height--desktop;
	}
}

.site-footer .responsibles ul {
	display: flex;

	flex-wrap: wrap;

	text-align: center;

	@media screen and (min-width: breakpoint('desktop')) {

	}
}

.site-footer .responsibles li {
	@media screen and (min-width: breakpoint('desktop')) {
		width: auto;
	}
}

.site-footer .developers {
	font-weight: normal;
	font-size: ms(-2);
	line-height: $line-height * 2;
	font-family: $text-font-stack;

	text-align: center;
	text-transform: uppercase;

	color: palette('orange');

	background-color: palette('blue');
}

.site-footer .developers * {
	display: inline;

	padding: 0;
}
