// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

$height--desktop: $line-height * 3rem;

.site-footer-container {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

.site-footer {
	@include clearfix;

	clear: both;

	max-width: $max-width;

	margin-right: auto;
	margin-left: auto;

	font-size: ms(-1);

	@media screen and (min-width: breakpoint('tablet')) {
		letter-spacing: 0.125em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		text-align: right;
	}
}

.site-footer a {
	@include link-undercover;
}

.footer-menu {
	@media screen and (min-width: breakpoint('tablet')) {
		float: left;
	}
}

.site-footer .site-tagline {
	margin-bottom: $line-height * 2.5em;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-bottom: $line-height * 5em;
	}
}

/**
* A large perceivable region that contains information about the parent document.
*
* Examples of information included in this region of the page are copyrights and links to privacy statements.
*
* Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
*/
[role='contentinfo'] {
	@extend %content-info;
}

.site-footer [role='contentinfo'] {
	clear: left;

	@media screen and (min-width: breakpoint('phablet')) {
		display: table;

		width: 100%;
		max-width: 100%;

		table-layout: fixed;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: auto;

		margin-right: 0;
		margin-left: auto;

		text-align: right;
		vertical-align: middle;

		table-layout: auto;
	}
}

.site-footer [role='contentinfo'] * {
	vertical-align: inherit;
}

.site-footer [role='contentinfo'] > div {
	margin-bottom: $line-height * 1em;

	@media screen and (min-width: breakpoint('phablet')) {
		display: table-cell;

		width: 50%;

		padding-right: $gutter / 2;
		padding-left: $gutter / 2;

		&:nth-child(odd) {
			padding-left: 0;
		}

		&:nth-child(even) {
			padding-right: 0;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: auto;
		max-width: none;

		padding: 0;

		white-space: nowrap;

		border-spacing: $gutter;

		border-collapse: separate;
	}
}

.site-footer [role='contentinfo'] h6 {
	@media screen and (min-width: breakpoint('desktop')) {
		float: left;

		line-height: $height--desktop;
	}
}

.site-footer [role='contentinfo'] ul {
	text-align: center;

	@media screen and (min-width: breakpoint('desktop')) {
		float: left;
	}
}

.site-footer [role='contentinfo'] li {
	@media screen and (min-width: breakpoint('desktop')) {
		width: auto;
	}
}
