// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

.skip-links {
	padding: 0;
}

.skip-links a {
	@include visually-hidden--focusable;
}

.site-header {
	font-size: ms(-1);

	&:not(.home-page) {
		background-position: 35% 0;
	}
}

.responsibles {
	@extend %content-info;

	@media screen and (min-width: breakpoint('phablet')) {
		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}

[role='banner'] {
	@include image-replacement;
	@include placeholder-bg;

	width: $line-height * 4rem;
	height: $line-height * 6rem;

	margin-top: ($line-height * 1rem);
	margin-bottom: ($line-height * 1rem);
}
