/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

.skip-links {
	padding: 0;
	margin: 0;

	border: 0;
}

.skip-links a {
	@include visually-hidden--focusable;
}

.header-menu-and-banner {
	display: flex;

	flex-wrap: wrap;

	width: 100%;
	height: 4rem;
	max-width: 80rem;

	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

.site-header {
	position: relative;

	padding-top: 0;
	margin-right: 0;
	margin-left: 0;

	font-size: ms(-1);

	@media screen and (min-width: breakpoint('tablet')) {

	}

	@media screen and (min-width: breakpoint('desktop')) {

	}
}

.header-menu {
	display: table;

	width: auto;
	height: 100%;
	max-width: 80rem;

	margin-right: 0;
	margin-left: auto;
}

.header-menu ul {
	display: table-row;

	width: auto;

	margin-right: 0;
	margin-left: auto;
}

.header-menu li {
	display: table-cell;

	padding-right: 0;
	padding-left: $gutter;

	vertical-align: middle;

	&:first-child {
		padding-left: 0;
	}
}

.responsibles {
	@extend %content-info;

	@media screen and (min-width: breakpoint('phablet')) {
		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}

[role='banner'] {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0;

	line-height: 1.25;


}

[role='banner'] a {
	@include image-replacement;

	display: block;

	width: 100%;
	height: 100%;
	min-width: 150px;
	min-height: 45px;

	background-image: image('logotype.svg');
	background-position: 50% 50%;
	background-size: 37px 36px;

	@media screen and (min-width: breakpoint('desktop')) {
		background-image: image('logotype__horizontal.svg');
		background-size: 150px 45px;
	}

	[lang='pt-br'] & {

	}

	[lang='es-mx'] & {

	}
}

.site-header .site-tagline {
	max-width: 13em;

	margin-right: auto;
	margin-left: auto;
}
