/**
 * The main content of a document.
 *
 * This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `main` role.
 *
 * The `[role='main']` element can be a `main` or an `article`
 */

.main-container {
}


.content-container {
}

[role='main'] {
	@include clearfix;

	max-width: $max-width;

	padding: $gutter;
	margin-right: auto;
	margin-left: auto;

	scroll-snap-type: y mandatory;
}

.content-container > article {
	scroll-snap-align: start;

	[role='doc-subtitle'],
	.article__title,
	.article__content {
		margin-right: auto;
		margin-left: 0;
	}

	// starting at 2nd
	&:nth-of-type(n + 2) {
		min-height: 590px;

		background-size: 213px 223px,
		81px 84px,
		102px 108px;
	}

	// even
	&:nth-of-type(2n) {
		text-align: right;

		background-position: calc(50% - 86px - #{213px * 0.5}) 185px,
		calc(50% - 366px - #{81px * 0.5}) 398px,
		calc(50% - 398px - #{102px * 0.5}) 150px;

		[role='doc-subtitle'],
		.article__title,
		.article__content {
			margin-right: 0;
			margin-left: auto;
		}
	}

	// starting at 3rd
	&:nth-of-type(2n+1) {
		background-position: calc(50% + 96px) 176px,
		calc(50% + 376px) 384px,
		calc(50% + 406px) 139px;
	}

	// second
	&:nth-of-type(2) {
		background-image: image('robot__orange--circular.svg'),
		image('robot__purple--square.svg'),
		image('robot__yellow--rounded.svg');
	}

	// third
	&:nth-of-type(3) {
		background-image: image('robot__yellow--rounded.svg'),
		image('robot__orange--circular.svg'),
		image('robot__purple--square.svg');
	}

	// forth
	&:nth-of-type(4) {
		background-image: image('robot__purple--square.svg'),
		image('robot__yellow--rounded.svg'),
		image('robot__orange--circular.svg');
	}
}
