/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
	font-size: ms(-1);

	white-space: nowrap;

	@media screen and (min-width: breakpoint('tablet')) {
		display: table;
	}
}

menu ul,
menu ol,
nav ul,
nav ol {
	width: 100%;

	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	list-style: none;

	@media screen and (min-width: breakpoint('tablet')) {
		display: table-row;

		table-layout: fixed;
		border-collapse: collapse;
	}
}

nav [type='button'],
menu ul li,
nav ul li {
	padding: 0 $gutter 0 0;
	margin: 0;

	&::before {
		content: none;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		display: table-cell;
	}
}

nav [type='button'] {
	background-image: image('chevron.svg');
	background-position: 95% 50%;
	background-size: 13px 8px;

	border: 0;
	border-radius: 0;
}

nav [type='button'],
menu a,
nav a {
	display: block;

	overflow: hidden;

	color: inherit;

	background-color: transparent;

	&:link,
	&:visited {
		text-decoration: inherit;

		color: inherit;

		background-color: transparent;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: inherit;

		color: inherit;

		background-color: transparent;
	}
}

menu a,
nav a {
	&:hover,
	&:focus,
	&:active {
		color: palette('black');
	}
}

.current > a {
	pointer-events: none;
}

/* access
---------------------------------------------------------------------------- */
.skip-links {
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}
