/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
	font-size: ms(-1);

	white-space: nowrap;

	@media screen and (min-width: breakpoint('tablet')) {
		display: table;

		line-height: 5rem;
	}
}

menu ul,
menu ol,
nav ul,
nav ol {
	width: 100%;

	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: $line-height * 1rem;
	margin-left: 0;

	list-style: none;

	@media screen and (min-width: breakpoint('tablet')) {
		display: table-row;

		table-layout: fixed;
		border-collapse: collapse;
	}
}

menu ul li,
nav ul li {
	padding: 0 $gutter 0 0;
	margin: 0;

	overflow: hidden;

	&::before {
		content: none;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		display: table-cell;
	}
}

menu a,
nav a {
	display: block;

	padding-top: $line-height * 0.5rem;
	padding-bottom: $line-height * 0.5rem;

	&:link {
		text-decoration: none;
	}
}

.current > a {
	pointer-events: none;
}

/* access
---------------------------------------------------------------------------- */
.skip-links {
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}
