<article
	class='
		{{with .Resources.ByType "page"}}has-resources{{end}}
		delayed-entrance
		delayed-entrance__bottom
	'
	{{ with .Params.slug }}id="{{ . }}"{{ end }}
>
	<div
		class="container"
	>
		<div role="doc-subtitle">{{ i18n .Type }}</div>
		<h2
			class="article__title"
		>
			{{ .Title }}
		</h2>

		<div class="article__content">
			{{ $input := "(?i)(Pegabot)" }}
			{{ $output := "<b>PEGABOT</b>" }}
			{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
			{{ $finalContent }}
		</div>

		{{ with .Resources.ByType "page" }}
			<section class="criteria__section-list">
				{{ range . }}
					<article
						id="section--{{ .File.TranslationBaseName }}"

						class="
							criteria__section
							criteria__section--{{ .File.TranslationBaseName }}
							delayed-entrance
							delayed-entrance__bottom
						"
					>
						<h3>
							{{ .Title }}
						</h3>

						{{ $input := "(?i)(Pegabot)" }}
						{{ $output := "<b>PEGABOT</b>" }}
						{{ $finalContent := .Params.intro | default (.Content | truncate 150) | replaceRE $input $output | safeHTML }}
						{{ $finalContent }}

						<p>
							<a href="#section__modal--{{ .File.TranslationBaseName }}" class="modal-link read-more">{{ i18n "readMore" }}</a>
						</p>

						<section
							class="modal--show"
							id="section__modal--{{ .File.TranslationBaseName }}"
							tabindex="-1"
							role="dialog"
							aria-labelledby="modal-label"
							aria-hidden="true"
						>
							<div
								class="modal-inner"
							>
								<header id="modal-label">
									{{ .Title }}
								</header>
								<div class="modal-content">
									{{ $input := "(?i)(Pegabot)" }}
									{{ $output := "<b>PEGABOT</b>" }}
									{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
									{{ $finalContent }}
								</div>
							</div>

							<a href="#section--{{ .File.TranslationBaseName }}"
								class="modal-close"
								title="{{ i18n "closeThisModal" }}"
								data-close="{{ i18n "close" }}"
								data-dismiss="modal"
							>?</a>
						</section>
					</article>
				{{ end }}
			</section>
		{{ end }}
	</div>
</article>
