<article
	class="
		{{ with .File }}{{ .TranslationBaseName }}{{ end }}
		delayed-entrance
		delayed-entrance__bottom
	"
	{{ with .Params.slug }}id="{{ . }}"{{ end }}
>
	<div
		class="container"
	>
		<h2
			class="article__title"
		>
			{{ .Title }}
		</h2>

		{{ with .Params.figure }}
			<figure>
				<img src="{{ .src }}">
				<figcaption>
					<h4>{{ .caption }}</h4>
				</figcaption>
			</figure>
		{{ end }}

		<div class="article__content">
			{{ $input := "(?i)(Pegabot)" }}
			{{ $output := "<b>PEGABOT</b>" }}
			{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
			{{ $finalContent }}
		</div>
	</div>
</article>
