.home-page .site-header {
	padding-bottom: 0;

	background-image: none;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-bottom: $line-height * -2rem;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		margin-bottom: $line-height * -3rem;
	}

	@media screen and (min-width: breakpoint('wide')) {
		background-image: image('robot1.png'), image('robot4.png');
		background-position: 90% 85%, 15% 55%;
	}
}

.home-page .main-container {
	max-width: none;
}

.home-page .content-container {
	padding-top: 0;
	padding-bottom: 0;
}

.home-page [role='banner'] {
	min-width: #{200px + 30px};

	margin: ($line-height * 1rem) auto;
	margin-top: ($line-height * 1rem);
	margin-bottom: ($line-height * 1rem);
}

.home-page [role='banner'] a {
	height: 12.5rem;
	min-height: #{200px + 30px};

	[lang='pt-br'] & {
		background-image: image('logotype.png') !important;
	}

	[lang='es-mx'] & {
		background-image: image('logotype-es.png') !important;
	}

}

.home-page [role='main'] {
	max-width: none;

	padding: 0;
}

.intro {
	position: relative;

	clear: both;

	z-index: layer('default');

	max-width: $max-width;

	padding-top: $line-height * 1rem;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	text-align: right;
}

.intro p {
	margin-right: 0;
	margin-left: auto;

	@media screen and (min-width: breakpoint('desktop')) {
		max-width: 40%;
	}

	@media screen and (min-width: breakpoint('wide')) {
		max-width: 33.33333%;
	}
}
