// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page [role='banner'] {
	margin: ($line-height * 1rem) auto;
}

._about {
}

._about video {
	display: block;

	width: 100%;

	box-shadow: 0 $gutter ($gutter * 2) palette('shadow');

	@media screen and (min-width: breakpoint('tablet')) {
		float: right;

		width: 50%;

		margin-left: $gutter;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: 60%;

		margin-left: $gutter * 3;
	}
}

main article {
	padding-top: $line-height * 3.5em;
	padding-bottom: $line-height * 3.5em;
}

.intro {
	text-align: right;
}

.intro p {
	margin-right: 0;
	margin-left: auto;
}
