$avatar-width: 90px;
$delay: 300ms;
$duration: 0.5s;
$gauge-hand-width: 51px;
$gauge-hand-height: 8px;

.results-page {
}

.results-page .content-container {
	padding-bottom: 0;
	margin-bottom: 0;
}

.results-page [role='main'] {
	margin-bottom: 0;
}

.analisys-form--rebuild {
}

.analisys-form--rebuild p {
}

.results {
	padding-top: $line-height * 3rem;
	padding-bottom: $line-height * 3rem;
}

[id='results__count'] {
	padding-right: 0.25em;
	padding-left: 0.25em;

	color: palette('white');

	background-color: palette('purple');
}

.results__list {
	&[aria-busy='true'] {
		min-height: 18.75rem;

		&::after {
			background-color: transparent;
		}
	}

	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-wrapper;

		margin-right: $gutter / -2;
		margin-left: $gutter / -2;
	}
}

.results__profile {
	position: relative;
	top: 0;

	margin: 0 0 ($line-height * 1em);

	text-align: left;

	cursor: pointer;

	transition-delay: $delay;
	transition-duration: $duration;
	transition-property: top, padding;

	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item;

		width: 50%;

		padding: 0 ($gutter / 2);

		transition: padding $duration;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: 33.33333%;
	}

	&:only-child {
		display: block;

		width: 100%;
		max-width: 36rem;

		margin-right: auto;
		margin-left: auto;
	}

	&:hover:not(:only-child) {
		top: $line-height * -0.5em;

		transition-delay: 0;
	}

	&:only-child,
	&:focus {
		top: 0;

		z-index: layer('modal');

		padding: 0;

		cursor: default;

		outline: 0;

		transition-duration: $duration;
		transition-property: top, padding;
	}

	&:focus::after {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: layer('below');

		pointer-events: none;

		background-color: palette('shadow');

		content: '';

		animation: fade-in $duration;

		@at-root {
			@keyframes fade-in {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}
	}
}

.results__profile > *:not(button):not(footer) {
	background-color: palette('gray', 'x-light');

	box-shadow: 0 0 0 palette('shadow');

	transition-delay: $delay;
	transition-duration: $duration;
	transition-property: box-shadow;
}

.results__profile:not(:only-child):hover > *:not(button),
.results__profile:only-child > *:not(button),
.results__profile:focus > *:not(button) {
	box-shadow: 0 ($line-height * 1em) ($line-height * 1em) palette('shadow');

	transition-delay: 0;
}

.profile__close-button {
	position: absolute;
	top: 0;
	left: $gutter;

	z-index: layer('modal');

	padding: 0;

	font-size: 2em;

	color: palette('gray');

	background-color: transparent;

	border: 0;

	.results__profile:only-child > &,
	.results__profile:focus > & {
		display: none;
	}

	&:hover,
	&:focus {
		color: palette('purple');

		background-color: transparent;

		border: 0;
	}
}

.profile__analysis-summary {
	padding-top: $line-height * 1em;
	padding-bottom: $line-height * 1em;

	transition-delay: 0ms;
	transition-duration: $duration;
	transition-property: padding-top;

	.results__profile:only-child &,
	.results__profile:focus & {
		padding-top: 0;

		transition-delay: $delay;
	}
}

.profile__data {
	position: relative;
	top: 0;

	z-index: layer('dropdown');

	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	text-align: center;

	transition: margin $duration, top $duration;

	.results__profile:only-child &,
	.results__profile:focus & {
		top: $avatar-width * -0.35;

		margin-bottom: $avatar-width * -0.35;

		transition: margin $duration, top $duration;
	}
}

.profile__data img {
	display: block;

	width: $avatar-width;
	height: $avatar-width;

	margin-right: auto;
	margin-bottom: $line-height * 1em;
	margin-left: auto;

	border-radius: 50%;
}

.profile__data figcaption {
	z-index: layer('default');

	.results__profile:only-child &,
	.results__profile:focus & {
		color: palette('purple');
	}
}

.profile__result {
	position: relative;

	display: block;

	margin-right: auto;
	margin-left: auto;

	font-size: ms(1);

	text-align: center;

	color: palette('black');
}

.profile__gauge {
	display: block;

	width: $avatar-width;

	margin-right: auto;
	margin-left: auto;
}

.profile__meter {
	@include visually-hidden;
}

.profile__analysis-results,
.profile__links {
	max-height: 0;

	overflow: hidden;

	transition: max-height $duration;

	.results__profile:only-child > &,
	.results__profile:focus > & {
		max-height: 100em;

		transition: max-height $duration;
	}
}

.profile__analysis-results {
	padding-right: ($gutter / 2);
	padding-left: ($gutter / 2);

	font-size: ms(-1);
	line-height: 2;
}

.profile__analysis-results h3 {
	font-weight: inherit;
	font-size: 1em;

	text-align: center;
	text-transform: none;

	color: inherit;
}

.profile__analysis-results dl {
	@include clearfix;

	margin-bottom: 0;
}

.profile__analysis-results dl > div {
	float: left;

	width: 50%;

	padding-right: 0.5em;
	padding-left: 0.5em;

	overflow: hidden;

	background-color: palette('gray', 'light');

	border-left-width: 4px;
	border-left-style: solid;
}

.test-result--level-1 {
	border-left-color: palette('gauge', 'level-1');
}

.test-result--level-2 {
	border-left-color: palette('gauge', 'level-2');
}

.test-result--level-3 {
	border-left-color: palette('gauge', 'level-3');
}

.test-result--level-4 {
	border-left-color: palette('gauge', 'level-4');
}

.test-result--level-5 {
	border-left-color: palette('gauge', 'level-5');
}

.profile__analysis-results dt,
.profile__analysis-results dd {
	display: inline;
}

.profile__analysis-results dd {
	font-weight: 900;
}

.profile__analysis-results--compiled dl > div {
	float: none;

	width: 100%;
}

.profile__analysis-results--compiled {
	padding-bottom: 0;

	transition: padding-bottom $duration;

	.results__profile:only-child &,
	.results__profile:focus & {
		padding-bottom: $line-height * 1em;

		transition: padding-bottom $duration;
	}
}

.profile__links {
	line-height: $line-height * 2;

	text-overflow: ellipsis;
	white-space: nowrap;

	color: palette('white');

	background-color: palette('blue');
}

.profile__links nav {
	display: table;

	width: 100%;

	table-layout: fixed;
}

.profile__links ul {
	display: table-row;
}

.profile__links li {
	display: table-cell;

	padding: 0;
}

.profile__links a {
	@include image-replacement;

	display: block;

	background-position: 50% 50%;

	&:hover,
	&:focus {
		background-color: palette('purple');
	}
}

.profile__links .profile a {
	background-image: image('twitter-icon.png');
}

.profile__links .details a {
	background-image: image('details-icon.png');
}

.profile__links .share a {
	background-image: image('share-icon.png');
}

.profile__links .feedback a {
	background-image: image('feedback-icon.png');
}

.results__footer {
	padding: ($gutter / 2) $gutter;
	margin-right: $gutter * -1;
	margin-left: $gutter * -1;

	font-size: 1rem;

	text-align: center;

	@media screen and (min-width: breakpoint('tablet')) {
		padding: $gutter;
	}
}

.results__footer a {
	z-index: layer('default');
}

.results__footer p {
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-block;

		height: $line-height * 1em;

		padding-right: $gutter;
		margin-bottom: 0;

		vertical-align: middle;
	}
}

.results__footer button {
	display: inline-block;

	padding-top: 0;
	padding-right: $line-height * 0.5em;
	padding-bottom: 0;
	padding-left: $line-height * 0.5em;
	margin-bottom: 0;

	vertical-align: middle;

	color: inherit;

	background-color: transparent;

	border-color: currentColor;

	&::before {
		vertical-align: text-bottom;

		content: '\25a0\a0';
	}
}
