// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/* CLASSES
============================================================================ */
%loading-bg {
	background-image: image('loading.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: palette('loading', 'background');
}

%loading-el {
	position: relative;

	overflow: hidden;

	cursor: wait;

	&::after {
		@extend %loading-bg;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: layer('modal');

		content: '';

		opacity: 0.75;
	}
}


/// Content which loads **after** the page does, should be informed to user.
///
/// `[aria-busy='true']` adds a loading background to any loading element
/// which can't be a parent and a pseudo element over any element other than
/// `html`.
///
/// Don't forget to customize it to your needs. Speacially the background
/// color.
///
/// Already applied to `embed` and `img`, which can cause issues with
/// transparent images.
///
/// @author Sobral
/// @group helpers
///
/// @example markup
///
/// <dialog open aria-busy="true">
/// 	<form method="dialog">
/// 		[...]
/// 	</form>
/// </dialog>
///
[aria-busy='true'] {
	> body,
	&:not(html) {
		@extend %loading-el;
	}
}

img,
embed {
	@extend %loading-bg;

	background-size: auto;

	&::after {
		/*
		 *	Future proof reset
		 */
		content: none;
	}
}

input,
output,
keygen,
textarea {
	&[aria-busy='true'] {
		@extend %loading-bg;

		background-size: auto;
	}
}

/// Load the Susy grid under the class `grid`
///
/// @author Sobral
/// @group helpers
///
/// @example markup
///
/// <html class="grid">
/// 	<body>
/// 		[...]
/// 	</body>
/// </html>
///
.grid {
	&::after {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: layer('modal');

		font-size: 1rem;

		pointer-events: none;

		background-image: grid-image(2);
		background-position: center top;
		background-repeat: repeat-y;

		content: '';

		@media screen and(min-width: breakpoint('phablet')) {
			background-image: grid-image(3);
		}

		@media screen and(min-width: breakpoint('tablet')) {
			background-image: grid-image(4);
		}

		@media screen and(min-width: breakpoint('desktop')) {
			background-image: grid-image(5);
		}

		@media screen and(min-width: breakpoint('wide')) {
			background-image: grid-image(6);
			background-size: $max-width 100%;
		}
	}
}

.delayed-entrance {
	opacity: 1;

	transition-duration: 0.5s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);

	& + & {
		transition-delay: 0.3s;
	}

	&:nth-child(2):nth-last-child(2) {
		transition-delay: 0.6s;
	}

	.delayed-entrance {
		transition-delay: 0.5s;

		& + & {
			transition-delay: 0.8s;
		}

		&:nth-child(2):nth-last-child(2) {
			transition-delay: 0.11s;
		}
	}
}

.delayed-entrance__bottom {
	opacity: 0;
	transform: translateY(20%);
}

.container {
	@include clearfix;

	max-width: $max-width;

	padding-top: $line-height * 2em;
	padding-bottom: $line-height * 2em;
	margin-right: auto;
	margin-left: auto;
}

.snapping-section {
	scroll-snap-align: start;
}
