<form
	action="/resultados"
	method="get"
	onsubmit="typeof gtag !== 'undefined' ? gtag('event', 'pegar') : ''"
	name="analysis_form"
	class="fancy-form"
>
	<fieldset>
		<legend>{{ i18n "toCatchThatBot" }}</legend>

		<fieldset
			class="fancy-form__search-fields"
		>
			<p class="fancy-form__social-network" hidden>
				<label for="social-network">
					{{ i18n "socialNetwork" }}
				</label>
				<select name="socialnetwork" id="social-network">
					<option selected required value="twitter">@</option>
				</select>
			</p>

			<p
				class="fancy-form__input-wrapper"
			>
				<input
					required
					type="search"
					name="profile"
					autofocus
					id="s"
					placeholder=" "
					aria-labelledby="profile-label"
				>
				<label
					for="s"
					id="profile-label"
				>
					{{ i18n "twitterProfile" }}
				</label>
			</p>
		</fieldset>

		<button
			name="search_for"
			value="profile"
			type="submit"
			class="fancy-form__button"
			id="fancy-form__button"
		>
			{{ i18n "toCatch" }}
		</button>
	</fieldset>

	<input type="hidden" name="limit" value="{{ $.Site.Params.searchlimit | default 12 }}" />
</form>

<script>
	var profile = document.getElementById('s');

	profile.addEventListener('blur', function(e){
		var value = e.target.value || '';

		var regex = /(https?:\/\/)?(www\.)?(twitter\.com\/)/gi;

		var cleanValue = value.replace(regex, '');

		if (!!cleanValue && cleanValue.indexOf('@') !== 0){
			cleanValue = '@' + cleanValue;
		}

		e.target.value = cleanValue;
	}, false);

</script>
