	</div><!-- .content-container -->
	<footer class="site-footer">
		{{ with $.Site.Params.tagline }}
			<div class="site-tagline">{{ . }}</div>
		{{ end }}

		{{ if ne .Kind "404" }}
			{{ with .Site.Menus.main }}
				<nav class="footer-menu">
					{{ partialCached "menu.html" . }}
				</nav>
			{{ end }}
		{{ end }}

		{{ if or $.Site.Data.developers $.Site.Data.responsibles }}
			<div role="contentinfo">
				{{ partialCached "responsibles.html" . }}

				{{ with $.Site.Data.developers }}
					<div class="developers">
						<h6>{{ i18n "developedBy" }}</h6>
						<ul>
							{{ range . }}
								<li
									{{ with .id }} class="developers__item--{{ . }}" {{ end }}
									{{ with .icon }} style="background-image: url({{ . }});" {{ end }}
								>
									{{ with .link }}
										<a href="{{ .link }}" target="_blank">
									{{ end }}
										{{ .name }}
									{{ with .link }}
										</a>
									{{ end }}
								</li>
							{{ end }}
						</ul>
					</div>
				{{ end }}
			</div>
		{{ end }}
	</footer>
	{{ partialCached "browserUpdate.html" . }}
</div><!-- .main-container -->

	<script src="/assets/js/index.js"></script>

	{{ with $.Scratch.Get "scriptsFooter" }}
		{{ . | safeHTML }}
	{{ end }}

</body>
</html>
