		{{ if eq (.Scratch.Get "notBackToTop" | default false) false }}
			{{ partialCached "backToTop.html" . }}
		{{ end }}

		{{ if eq (.Scratch.Get "notNewsletter" | default false) false }}
			{{ partialCached "newsletter.html" . }}
		{{ end }}

	</div><!-- .content-container -->
	<div class="site-footer-container">
		<footer class="site-footer">
			{{ with $.Site.Params.tagline }}
			<div class="site-tagline">{{ . }}</div>
			{{ end }}

			{{ with $.Site.Params.email }}
			<div class="site-footer__contact">
				<a href="mailto:{{ . }}" target="_blank">
					{{ i18n "contact" }}: {{ . }}
				</a>
			</div>

			{{ end }}

			{{ if ne .Kind "404" }}
				{{ with .Site.Menus.main }}
					<nav class="footer-menu">
						<ul>
							{{ partial "menu.html" . }}
						</ul>
					</nav>
				{{ end }}
			{{ end }}

			{{ if or $.Site.Data.sponsors (or $.Site.Data.developers $.Site.Data.responsibles) }}
				<div role="contentinfo">
					<div class="responsibles-and-sponsors-wrapper">
						{{ partialCached "responsibles.html" . }}

						{{ partialCached "sponsors.html" . }}
					</div>

					{{ partialCached "developers.html" . }}

				</div>
			{{ end }}
		</footer>
	</div>
	{{ partialCached "browserUpdate.html" . }}
</div><!-- .main-container -->

{{ with $.Scratch.Get "scriptsFooter" }}
	{{ . | safeHTML }}
{{ end }}

{{ if eq (getenv "NODE_ENV") "development" }}
	<script src="https://vuejs.org/js/vue.js"></script>
{{ else }}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

{{ $vc := "module.exports = window.vue-chartjs" | resources.FromString "js/shims/vue-chartjs.js" }}
{{/* Call RelPermalink unnecessarily to generate JS files */}}
{{ $placebo := slice $vc.RelPermalink }}

{{ $externals := slice "vue-chartjs" }}

{{ $opts := dict "externals" $externals "params" (dict "language" (string $.Site.LanguageCode) ) }}

{{ $js := resources.Get "scripts/index.js" | js.Build $opts | resources.Fingerprint "sha512" }}

<script
	src="{{ $js.RelPermalink }}"
></script>

<script>
function throttle(fn, wait) {
	console.debug(fn, wait);

	var time = Date.now();
	return function() {
		if ((time + wait - Date.now()) < 0) {
			fn();
			time = Date.now();
		}
	}
}
</script>

<script>
	var target = document.querySelector('.wave-ornament');

	function updateBgPosition() {
		var scrollHeight = document.documentElement.scrollTop;

		var newPosition = 'left ' + scrollHeight + 'px bottom 1px,'
			+'left ' + scrollHeight + 'px bottom,'
			+'left '+ scrollHeight + 'px bottom 2px';
		target.style.backgroundPosition = newPosition;
	}

	if (target) {
		target.style.transitionProperty = 'background-position';

		window.addEventListener('load', updateBgPosition);
		window.document.addEventListener('scroll', throttle(updateBgPosition, 0));
	}
</script>

<script>
	var delayedEls = document.querySelectorAll('[class*="delayed-entrance"]');
	var backToTop = document.querySelector('.back-to-top');

	function checkVisible(elem, threshold, mode) {
		threshold = threshold || 0;
		mode = mode || 'visible';

		var rect = elem.getBoundingClientRect();
		var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
		var above = rect.bottom - threshold < 0;
		var below = rect.top - viewHeight + threshold >= 0;

		return mode === 'above' ? above : (mode === 'below' ? below : !above && !below);
	}

	function toggleFoldClass() {
		var viewportHeight = "innerHeight" in window
			? window.innerHeight
			: document.documentElement.offsetHeight;
		var elem = window.document.documentElement;

		if (elem.scrollTop > viewportHeight) {
			if (elem.className.indexOf(' below-fold') === -1) {
				elem.className = elem.className + ' below-fold';
			}
		} else {
			if (elem.className.indexOf(' below-fold') !== -1) {
				elem.className = elem.className.replace(' below-fold', '');
			}
		}
	}

	function removeClass() {
		for (let index = 0; index < delayedEls.length; index++) {
			const element = delayedEls[index];

			if (checkVisible(element, 50)) {
				element.className = element.className.replace('delayed-entrance__bottom', '');
			}
		}
	}

	if (delayedEls.length){
		window.addEventListener('load', removeClass);
		window.document.addEventListener('scroll', throttle(removeClass, 300));
	}

	if (backToTop){
		window.addEventListener('load', toggleFoldClass);
		window.document.addEventListener('scroll', throttle(toggleFoldClass, 300));
	}
</script>

<script>
var fragmentLinks = document.querySelectorAll('a:not(.modal-link):not(.modal-close)[href^="#"]');

function isTallerThanView(el) {
	var elemHeight = el.clientHeight;

	return (elemHeight > window.innerHeight);
}

function isScrolledIntoView(el) {
	var rect = el.getBoundingClientRect();
	var elemTop = rect.top;
	var elemBottom = rect.bottom;

	return (elemTop >= 0)
		&& (elemBottom <= window.innerHeight);
}

function scrollTo(e) {
	var target = e.currentTarget || null;
	var targetQuery = target && target.hasAttribute('href')
		? target.getAttribute('href')
		: '';
	var targetEl = targetQuery
		? document.querySelector(targetQuery)
		: null;

	if (!target || !targetQuery || !targetEl) return;

	e.preventDefault();

	if (!isScrolledIntoView(targetEl)) {
		var blockPosition = isTallerThanView(targetEl)
			? 'start'
			: 'center';

		targetEl.scrollIntoView({ block: blockPosition, behavior: 'smooth' });
	}

	window.history.pushState(null, null, targetQuery);

	targetEl.focus({preventScroll: true});
}

for (let i = 0; i < fragmentLinks.length; i++) {
	var element = fragmentLinks[i];
	element.addEventListener('click', scrollTo);
}
</script>

</body>
</html>
