<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "development" }}grid-debug{{ end }} no-js">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">

	<meta charset="utf-8">

	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">

	<meta content="width=device-width,initial-scale=1.0" name="viewport">

	<link rel="stylesheet" href="/assets/styles/index.css" media="all">

	{{ if eq (getenv "NODE_ENV") "development" }}
		<link rel="stylesheet" href="/assets/styles/qa.css" media="all">
	{{ end }}

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,700i,900,900i" rel="stylesheet">

	<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');</script>

	<link rel="preload" href="/assets/scripts/index.js" as="script">

	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

	{{ with $.Site.Params.siteDescription }}<meta name="description" content="{{ . }}">{{ end }}

	{{ with $.Scratch.Get "scriptsHeader" }}
		{{ . | safeHTML }}
	{{ end }}

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ template "_internal/google_analytics.html" . }}
	{{ end }}
</head>
<body>
	{{ if ne .Kind "404" }}
		{{ with .Site.Menus.main }}
			<input type="checkbox" id="menu-controller" class="menu-controller" hidden>
		{{ end }}
	{{ end }}
	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ partialCached "gTranslator.html" . }}
	{{ end }}
	<div class="main-container">
		{{ if ne .Kind "404" }}
			<nav class="skip-links">
				<ul>
					<li class="to-content"><a href="#conteudo">conteúdo</a></li>
					<li class="to-menu"><a href="#menu">menu</a></li>
				</ul>
			</nav>
		{{ end }}
		<header class="site-header">
			{{ if ne .Kind "404" }}
				{{ with .Site.Menus.main }}
					<label for="menu-controller" onclick>menu</label>
				{{ end }}
			{{ end }}

			{{ partial "responsibles.html" . }}

			<div role="banner">
				<a href="/">
					{{ .Site.Title }}
				</a>
			</div>
			{{ if ne .Kind "404" }}
				{{ with .Site.Menus.main }}
					<nav class="main-menu" id="menu">
						{{ partialCached "menu.html" . }}
					</nav>
				{{ end }}
			{{ end }}
		</header>
		<div class="content-container">
