<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "development" }}grid-debug{{ end }} no-js">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">

	<meta charset="utf-8">

	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">

	<meta content="width=device-width,initial-scale=1.0" name="viewport">

	<link rel="stylesheet" href="/assets/styles/index.css" media="all">

	{{ if eq (getenv "NODE_ENV") "development" }}
		<link rel="stylesheet" href="/assets/styles/qa.css" media="all">
	{{ end }}

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,700i,900,900i" rel="stylesheet">

	<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');</script>

	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

	{{ with $.Site.Params.siteDescription }}<meta name="description" content="{{ . }}">{{ end }}

	{{ with $.Scratch.Get "scriptsHeader" }}
		{{ . | safeHTML }}
	{{ end }}

	<meta property="og:type" content="product.group">
	<meta property="og:title" content="Pegabot: descubra se aquele perfil de rede social é bot">
	<meta property="og:url" content="pegabot.com.br">
	<meta property="og:image" content="{{ .Site.BaseURL }}/pegabot-fb-img.jpg">

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ with $.Site.GoogleAnalytics }}
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());

				gtag('config', '{{ . }}');
			</script>
		{{ end }}
	{{ end }}
</head>
<body>
	<div class="main-container">
		{{ if ne .Kind "404" }}
			<nav class="skip-links">
				<ul>
					<li class="to-content"><a href="#conteudo">conteúdo</a></li>
					<li class="to-menu"><a href="#menu">menu</a></li>
				</ul>
			</nav>
		{{ end }}
		<header class="site-header">
			{{ with $.Site.Data.responsibles }}
				<style>
					{{ range . }}
						.site-header .responsibles__item--{{ .id }} {
							background-image: url(/assets/images/{{ .icon }});
							min-width: {{ add .iconWidth 30 }}px;
							min-height: {{ add .iconHeight 30 }}px;
						}
					{{ end }}
				</style>
			{{ end }}

			{{ if ne .Kind "404" }}
				{{ with .Site.Menus.header }}
					<nav class="header-menu">
						{{ partial "menu.html" . }}
					</nav>
				{{ end }}
			{{ end }}

			<div role="banner">
				<a href="/" class="{{ .Site.LanguageCode }}">
					{{ .Site.Title }}
				</a>
				{{ with $.Site.Params.tagline }}
					<div class="site-tagline">{{ $.Site.Params.tagline }}</div>
				{{ end }}
			</div>
		</header>
		<div class="content-container">
