<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "development" }}grid -debug{{ end }} no-js">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">

	<meta charset="utf-8">

	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">

	<meta content="width=device-width,initial-scale=1.0" name="viewport">

	<link rel="stylesheet" href="/assets/styles/index.css" media="all">

	{{ if eq (getenv "NODE_ENV") "development" }}
		<link rel="stylesheet" href="/assets/styles/qa.css" media="all">
	{{ end }}
	<link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Montserrat:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">

	<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');</script>

	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

	{{ with $.Site.Params.siteDescription }}<meta name="description" content="{{ . }}">{{ end }}

	{{ with $.Scratch.Get "scriptsHeader" }}
		{{ . | safeHTML }}
	{{ end }}

	<meta property="og:type" content="product.group">
	<meta property="og:title" content="{{ $.Site.Title }}: {{ $.Site.Params.ogtitle | default $.Site.Params.tagline }}">
	<meta property="og:url" content="pegabot.com.br">
	{{ with $.Site.Params.ogimage }}
		<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">
	{{ end }}

	{{ with .Lastmod }}
		<meta http-equiv="Last-Modified" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
	{{ end }}

	{{ $packageJson := getJSON "./package.json" }}
	{{ with $packageJson.version }}
		<meta name="version" content="{{ . }}">
	{{ end }}

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ with $.Site.GoogleAnalytics }}
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());

				gtag('config', '{{ . }}');
			</script>
		{{ end }}
	{{ end }}
</head>
<body>
	<div class="main-container">
		{{ if ne .Kind "404" }}
			<nav class="skip-links">
				<ul>
					<li class="to-content"><a href="#conteudo">conteúdo</a></li>
					<li class="to-menu"><a href="#menu">menu</a></li>
				</ul>
			</nav>
		{{ end }}
		<header class="site-header">
			{{ with $.Site.Data.responsibles }}
				<style>
					{{ range . }}
						.site-header .responsibles__item--{{ .id }} {
							background-image: url(/assets/images/{{ .icon }});
							min-width: {{ add .iconWidth 30 }}px;
							min-height: {{ add .iconHeight 30 }}px;
						}
					{{ end }}
				</style>
			{{ end }}
			<div class="header-menu-and-banner">
				<div role="banner">
					<a href="/" class="{{ .Site.LanguageCode }}">
						{{ .Site.Title }}
					</a>
				</div>

				{{ if ne .Kind "404" }}
					{{ with .Site.Menus.header }}
						<nav class="header-menu">
							<ul>
								{{ partial "menu.html" . }}
								<li>
									<a href="{{ $.Site.Params.typeform }}" target="_blank">
										{{ i18n "contact" }}
									</a>
								</li>
							</ul>
						</nav>
					{{ end }}
				{{ end }}
			</div>
		</header>
		<div class="content-container">
