<article class="results__profile profile" tabindex="0">
	<button type="button" class="profile__close-button">&times;</button>

	<section class="profile__analysis-summary">
		<figure class="profile__data">
			<img data-attr-to-bind-in="src" data-to-bind="profile_avatar" :src="user.avatar.replace('_normal','_bigger')" alt="">
			<figcaption data-to-bind="profile_username">{{ "{{user.username}}"}}</figcaption>
		</figure>
		<output class="profile__result">{{ "{{ user.bot_probability.all | toPercentage }}" }}</output>
		<meter class="profile__meter" max="100" value="50">{{ "{{ user.bot_probability.all | toPercentage }}" }}</meter>
	</section>

	<section class="profile__analysis-results">
		<h3 data-to-prepend="user_profile_language">{{ i18n "englishSpecificFeatures" }}</h3>

		<dl>
			<div>
				<dt>{{ i18n "content" }}</dt>
				<dd data-to-bind="content">
					{{ "{{ user.language_dependent.content.value | toPercentage }}" }}
				</dd>
			</div>

			<div>
				<dt>{{ i18n "sentiment" }}</dt>
				<dd data-to-bind="sentiment">
					{{ "{{ user.language_dependent.sentiment.value | toPercentage }}" }}
				</dd>
			</div>
		</dl>
	</section>

	<section class="profile__analysis-results">
		<h3>{{ i18n "languageIndependentFeatures" }}</h3>

		<dl>
			<div>
				<dt>{{ i18n "friendship" }}</dt>
				<dd data-to-bind="friend">
					{{ "{{ user.language_independent.friend | toPercentage }}" }}
				</dd>
			</div>

			<div>
				<dt>{{ i18n "temporal" }}</dt>
				<dd data-to-bind="temporal">
					{{ "{{ user.language_independent.temporal | toPercentage }}" }}
				</dd>
			</div>

			<div>
				<dt>{{ i18n "network" }}</dt>
				<dd data-to-bind="network">
					{{ "{{ user.language_independent.network | toPercentage }}" }}
				</dd>
			</div>

			<div>
				<dt>{{ i18n "user" }}</dt>
				<dd data-to-bind="user">
					{{ "{{ user.language_independent.user | toPercentage }}" }}
				</dd>
			</div>
		</dl>
	</section>

	<section class="profile__analysis-results profile__analysis-results--compiled">
		<h3>{{ i18n "botProbability" }}</h3>

		<dl>
			<div>
				<dt>{{ i18n "allFeatures" }}</dt>
				<dd data-to-bind="features">
					{{ "{{ user.bot_probability.all | toPercentage }}" }}
				</dd>
			</div>

			<div>
				<dt>{{ i18n "languageIndependentFeatures" }}</dt>
				<dd data-to-bind="language_independent">
					{{ "{{ user.bot_probability.language_independent | toPercentage }}" }}
				</dd>
			</div>
		</dl>
	</section>

	<footer class="profile__links">
		<nav>
			<ul>
				<li>
					<a data-attr-to-bind-in="href" data-to-bind="profile_link" :href="user.url" target="_blank">
						{{ i18n "profileLink" }}
					</a>
				</li>

				<li>
					<a data-attr-to-append-to="href" data-to-append="tweet_link" :href="user.share_link_on_social_network" target="_blank">
						{{ i18n "detailsLink" }}
					</a>
				</li>

				<li v-if="user.tweetItLink">
					<a data-attr-to-append-to="href" data-to-append="profile_username" :href="user.tweetItLink" target="_blank">
						{{ i18n "tweetItLink" }}
					</a>
				</li>

				<li v-if="user.feedback_report_link">
					<a data-attr-to-bind-in="href" data-to-append="feedback_report_link" :href="user.feedback_report_link" target="_blank">
						{{ i18n "feedbackLink" }}
					</a>
				</li>
			</ul>
		</nav>
	</footer>
</article>
