{{ with $.Site.Data.responsibles }}
<div class="responsibles">
	<h6>{{ i18n "aProjectBy" }}</h6>

	<ul>
		{{ range . }}
			<li
				{{ with .id }}
					class="responsibles__item--{{ . }}"
				{{ end }}
			>
				{{ with .link }}
					<a href="{{ . }}" target="_blank">
				{{ end }}
				<img
					src="/assets/images/{{ .iconNegative }}"
					width="{{ .iconWidth }}"
					height="{{ .iconHeight }}"
					alt="{{ .name }}"
				/>
				{{ with .link }}
					</a>
				{{ end }}
			</li>
		{{ end }}
	</ul>
</div>
{{ end }}
