{{ with $.Site.Data.sponsors }}
	<div class="sponsors">
		<h6>{{ i18n "sponsorship" }}</h6>
		<ul>
			{{ range . }}
				<li
					{{ with .id }} class="sponsorship__item--{{ . }}" {{ end }}
				>
					{{ with .link }}
						<a href="{{ . }}" target="_blank">
					{{ end }}
					<img
						src="{{ .iconNegative | default .icon }}"
						width="{{ .iconWidth }}"
						height="{{ .iconHeight }}"
						alt="{{ .name }}"
					/>
					{{ with .link }}
						</a>
					{{ end }}
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}
