{{ partialCached "header.html" . }}
<main role="main" id="conteudo">

	{{ range where $.Site.Pages "File.TranslationBaseName" "results" }}

		{{ partialCached "analysisForm.html" . }}

	{{ end }}

	<article class="intro" id="intro">
		{{ with $.Site.Data.botStats }}
			<dl class="statistics">
				{{ range .stats }}
					<div class="statistics__item">
						<dt>{{ .number }}</dt>
						<dd>{{ .description }}</dd>
					</div>
				{{ end }}
			</dl>
		{{ end }}

		{{ with .Content }}
			{{ . }}
		{{ end }}
	</article>


	{{ $resources := where (where $.Site.Pages ".Section" "_home") ".Type" "contentResource" }}

	{{ range $resources }}
		<article id="{{ .File.TranslationBaseName }}" class="{{ .File.TranslationBaseName }}">
			<h2>
				{{ .Title }}
			</h2>

			{{ .Content }}
		</article>
	{{ end }}


</main>
{{ partialCached "footer.html" . }}
