{{ if eq (getenv "NODE_ENV") "development" }} {{ $.Scratch.Add "scriptsHeader" `
<link rel="prefetch" src="https://vuejs.org/js/vue.js" crossorigin="anonymous"> ` }}{{ else }}{{ $.Scratch.Add "scriptsHeader" `
<link rel="prefetch" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" crossorigin="anonymous"> ` }}{{ end }}{{ $.Scratch.Add "scriptsHeader" `
<link rel="prefetch" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5" crossorigin="anonymous">
<link rel="prefetch" src="/assets/scripts/index.js"> ` }}{{ partial "header.html" . }}
<main
	role="main"
	id="{{ i18n "content" }}"
>

	{{ partialCached "analysisForm.html" . }}

	{{ with .Content }}
		<article class="intro wave-ornament" id="intro">
			<div class="container">
				{{ $input := "(Pegabot)" }}
				{{ $output := "<b>$1</b>" }}
				{{ $finalContent := . | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>
		</article>

		<script>
			var target = document.getElementById('intro');

			target.style.transitionProperty = 'background-position';

			function throttle(fn, wait) {
				var time = Date.now();
				return function() {
					if ((time + wait - Date.now()) < 0) {
						fn();
						time = Date.now();
					}
				}
			}

			function updateBgPosition() {
				var scrollHeight = document.body.scrollTop;

				var newPosition = 'left ' + scrollHeight + 'px bottom 1px,'
					+'left ' + scrollHeight + 'px bottom,'
					+'left '+ scrollHeight + 'px bottom 2px';
				target.style.backgroundPosition = newPosition;
			}

			window.addEventListener('load', updateBgPosition);
			window.document.body.addEventListener('scroll', updateBgPosition);
		</script>

	{{ end }}

	{{ $resources := where (where $.Site.Pages ".Section" "_home") ".Type" "contentResource" }}

	{{ range $resources }}
		<article
			id="{{ with .File }}{{ .TranslationBaseName }}{{ end }}"
			class="{{ with .File }}{{ .TranslationBaseName }}{{ end }} snapping-section"
		>
			<div class="container">
				<h2>
					{{ .Title }}
				</h2>

				{{ $input := "(Pegabot)" }}
				{{ $output := "<b>$1</b>" }}
				{{ $finalContent := .Content | replaceRE $input $output | safeHTML }}
				{{ $finalContent }}
			</div>
		</article>
	{{ end }}

	{{ $.Scratch.Set "count" 0 }}

	{{ range where (where $.Site.Pages ".Type" "transparency") ".Params.homepage" true }}
		{{ .Render "article-with-resources" }}
		{{ $.Scratch.Add "count" 1 }}
	{{ end }}

	{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "twitter") }}
		{{ .Render "curved-section" }}
	{{ end }}

	{{ range where (where $.Site.Pages ".Type" "analysis") ".Params.homepage" true }}
		{{ .Render "analysis" }}
		{{ $.Scratch.Add "count" 1 }}
	{{ end }}

	{{ range first 1 (where (where $.Site.Pages ".Type" "callToAction") ".File.TranslationBaseName" "collaborate") }}
		{{ .Render "curved-section" }}
	{{ end }}

</main>

{{ partialCached "newsletter.html" . }}

{{ partialCached "footer.html" . }}
