<article
	class="results-details__item"
	:aria-busy="String(loading)"
	:class="`results-details__item--${propertyName}`"
>
	<div
		class="results-details__intro"
		:class="`results-details__intro--${propertyName}`"
	>
		<div class="results-details__intro-container">
			<div
				role="doc-subtitle"
				class="results-details__subtitle"
			>
				{{ i18n "aboutThisProfile" }}
			</div>

			<h2
				class="results-details__title"
				:class="`results-details__title--${propertyName}`"
			>
				{{ "{{ propertyName }}" }}
			</h2>

			<div
				class="results-details__description"
				v-html="item.description"
			></div>

			<dl
				v-if="item.handle"
				class="results-details__handle"
			>
				<dt>{{ i18n "handle" }}</dt>
				<dd>{{ "{{ item.handle }}" }}</dd>
			</dl>

			<dl
				v-if="item.link"
				class="results-details__link"
			>
				<dt>{{ i18n "link" }}</dt>
				<dd>
					<a
						:href="`https://twitter.com/${item.link}`"
						target="_blank"
					>
						{{ "{{ item.link }}" }}
					</a>
				</dd>
			</dl>
		</div>

		<img
			v-if="item.figure"
			:src="item.figure"
			:alt="item.handle"
			class="results-details__profile-capture"
			aria-hidden="true"
			width="480"
			height="520"
		/>
	</div>

	<section
		class="results-details__analysis"
		v-for="(analysis, i) in item.analyses"
		:key="i"
		:class="{
			'results-details__analysis--chart': analysis.chart,
			'results-details__analysis--samples': analysis.samples && analysis.samples.list && analysis.samples.list.length,
		}"
	>
		<div
			class="results-details__analysis-container"
			:class="{'results-details__analysis-container--chart': analysis.chart}"
		>
			<h4
				class="results-details__analysis-title"
			>{{ "{{ analysis.title }}" }}</h4>

			<div class="results-details__description"
				v-html="analysis.description"
			></div>

			<dl
				v-if="analysis.summary"
				class="results-details__summary"
			>
				<dt
					class="results-details__analysis-subtitle"
				>
					{{ i18n "analysis" }}
				</dt>
				<dd
					v-html="analysis.summary"
				></dd>
			</dl>

			<dl
				v-if="analysis.conclusion"
				class="results-details__conclusion"
			>
				<dt
					class="results-details__analysis-subtitle"
				>
					{{ i18n "result" }}
				</dt>

				<dd
				>
					{{ "{{ Number.parseFloat(analysis.conclusion * 100).toFixed(2) }}%" }}
				</dd>
			</dl>
		</div>


		<the-chart
			v-if="analysis.chart"
			class="results-details__chart"
			:data="analysis.chart"
		/>

		<div
			v-if="analysis.hashtags && analysis.hashtags.length"
			class="results-details__hashtags results-details__card"
		>
			<h3
				class="results-details__analysis-subtitle results-details__analysis-subtitle--card"
			>
				{{ i18n "mostUsedTags" }}
			</h3>
			<ul
				class="results-details__list"
			>
				<li
					class="results-details__list-item"
					v-for="(tag, j) in analysis.hashtags"
					:key="j"
				>
					<a
						class="results-details__list-link"
						:href="`https://twitter.com/hashtag/${tag}`"
					>
						#{{ "{{ tag }}" }}
					</a>
				</li>
			</ul>
		</div>

		<div
			v-if="analysis.mentions && analysis.mentions.length"
			class="results-details__mentions results-details__card"
		>
			<h3
				class="results-details__analysis-subtitle results-details__analysis-subtitle--card"
			>
				{{ i18n "mentions" }}
			</h3>
			<ul
				class="results-details__list"
			>
				<li
					v-for="(mention, j) in analysis.mentions"
					class="results-details__list-item"
					:key="j"
				>
					<a
						class="results-details__list-link"
						:href="`https://twitter/${mention.screen_name}`"
					>
						@{{ "{{ mention.screen_name }}" }}
					</a>
				</li>
			</ul>
		</div>

		<div
			v-if="analysis.tweetsByNumbers && analysis.tweetsByNumbers.length"
			class="results-details__tweets results-details__card"
		>
			<h3
				class="results-details__analysis-subtitle results-details__analysis-subtitle--card"
			>
				{{ i18n "100TweetsAnalyzed" }}
			</h3>
			<dl
				v-for="(number, j) in analysis.tweetsByNumbers"
				:key="j"
			>
				<dt>{{ "{{ j }}" }}</dt>
				<dt>{{ "{{ number }}" }}</dt>
			</dl>
		</div>

		<div
			class="results-details__samples"
			v-if="analysis.samples && analysis.samples.list && analysis.samples.list.length"
		>
			<h4
				class="results-details__samples-title"
			>{{ "{{ analysis.samples.title }}" }}</h4>

			<div class="results-details__samples-list">
				<figure
					class="results-details__samples-item"
					v-for="(sample, j) in analysis.samples.list"
					:key="j"
				>
					<img
						class="results-details__sample-image"
						:src="sample.capture"
						alt=""
						width="480"
						height="520"
					/>
					<figcaption>{{ "{{ sample.caption }}" }}</figcaption>
				</figure>
			</div>
		</div>
	</section>
</article>
