<article
	class="results-details__item"
	:aria-busy="String(loading)"
	:class="`results-details__item--${propertyName}`"
>
	<div
		role="doc-subtitle"
		class="results-details__subtitle"
	>
		{{ i18n "aboutThisProfile" }}
	</div>

	<div
		class="results-details__intro"
	>
		<h2
			class="results-details__title"
			:class="`results-details__title--${propertyName}`"
		>
			{{ "{{ propertyName }}" }}
		</h2>

		<p
			class="results-details__description"
		>
			{{ "{{ item.description }}" }}
		</p>

		<dl
			v-if="item.handle"
			class="results-details__handle"
		>
			<dt>{{ i18n "handle" }}</dt>
			<dd>{{ "{{ item.handle }}" }}</dd>
		</dl>

		<dl
			v-if="item.link"
			class="results-details__link"
		>
			<dt>{{ i18n "link" }}</dt>
			<dd>{{ "{{ item.link }}" }}</dd>
		</dl>
	</div>

	<img
		v-if="item.figure"
		:src="item.figure"
		:alt="item.handle"
		aria-hidden="true"
	/>

	<section
		v-for="(analyze, i) in item.analysis"
		:key="i"
	>
		<h4>{{ "{{ analyze.title }}" }}</h4>

		<div class="results-details__description"
			v-html="analyze.description"
		></div>

		<dl
			class="results-details__description"
		>
			<dt>
				{{ i18n "analyze" }}
			</dt>
			<dd
				v-html="analyze.summary"
			></dd>
		</dl>

		<dl
			class="results-details__conclusion"
		>
			<dt>
				{{ i18n "result" }}
			</dt>

			<dd
			>
				{{ "{{ analyze.conclusion }}" }}
			</dd>
		</dl>

		<div
			v-if="analyze.hashtags && analyze.hashtags.length"
			class="results-details__hashtags results-details__card"
		>
			<h3>
				{{ i18n "mostUsedTags" }}
			</h3>
			<ul>
				<li
					v-for="(tag, j) in analyze.hashtags"
					:key="m"
				>{{ "{{ tag }}" }}</li>
			</ul>
		</div>

		<div
			v-if="analyze.mentions && analyze.mentions.length"
			class="results-details__mentions results-details__card"
		>
			<h3>
				{{ i18n "mentions" }}
			</h3>
			<ul>
				<li
					v-for="(mention, j) in analyze.mentions.length"
				>
					<img
						:src="mention.avatar"
						:alt="mention.handle"
					/>
				</li>
			</ul>
		</div>

		<div
			v-if="analyze.tweetsByNumbers && analyze.tweetsByNumbers.length"
			class="results-details__tweets results-details__card"
		>
			<h3>
				{{ i18n "100TweetsAnalyzed" }}
			</h3>
			<dl
				v-for="(number, j) in analyze.tweetsByNumbers"
				:key="j"
			>
				<dt>{{ "{{ j }}" }}</dt>
				<dt>{{ "{{ number }}" }}</dt>
			</dl>
		</div>

		<div
			class="results-details__samples"
			v-if="analyze.samples && analyze.samples.list && analyze.samples.list.length"
		>
			<h4>{{ "{{ samples.titles }}" }}</h4>

			<figure
				v-for="(sample, j) in samples.list"
				:key="j"
			>
				<img
					src="sample.capture"
					alt=""
				/>
				<figcaption>{{ "{{ caption }}" }}</figcaption>
			</figure>
		</div>

	</section>

	<section
		v-if=item.chart
		class="results-details__chart"
	>
		{{ "{{ item.chart }}" }}
	</section>

</article>
