<!-- bookmarkAsFigure -->
<figure
	class="
		bookmark-as-figure
		{{ index .Params "class" }}
	"
>
	{{ if isset .Params "link"}}
		<a href="{{ index .Params "link"}}">
	{{ end }}

	<img
		class="bookmark-as-figure__image"
		src="{{ index .Params "src" }}" {{ if or (isset .Params "alt") (isset .Params "caption") }}
		alt="{{ if isset .Params "alt" }}{{ index .Params "alt" }}{{ else }}{{ index .Params "caption" }}{{ end }}"{{ end }}
		width="172"
		height="153"
	/>

	{{ if isset .Params "link"}}
		</a>
	{{ end }}

	{{ if isset .Params "title" }}
		<h4
			class="bookmark-as-figure__title"
		>{{ index .Params "title" }}</h4>
	{{ end }}

	{{ if isset .Params "caption" }}
		<figcaption
			class="bookmark-as-figure__caption"
		>
			{{ index .Params "caption" }}
		</figcaption>
	{{ end }}

	{{ if isset .Params "excerpt" }}
		<p
			class="bookmark-as-figure__excerpt"
		>
			{{ index .Params "excerpt" }}
		</p>
	{{ end }}

	{{ if isset .Params "link" }}
		<p class="bookmark-as-figure__button-wrapper">
			<a href="{{ index .Params "link" }}" class="bookmark-as-figure__button">
				{{ i18n "readFullContent" }}
			</a>
		</p>
	{{ end }}
</figure>
<!-- bookmarkAsFigure -->
